<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Fill-Tables-with-data-from-jsons" data-toc-modified-id="Fill-Tables-with-data-from-jsons-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Fill Tables with data from jsons</a></span><ul class="toc-item"><li><span><a href="#regattas" data-toc-modified-id="regattas-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>regattas</a></span></li><li><span><a href="#races" data-toc-modified-id="races-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>races</a></span></li><li><span><a href="#competitors" data-toc-modified-id="competitors-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>competitors</a></span></li><li><span><a href="#windsources-&amp;-wind" data-toc-modified-id="windsources-&amp;-wind-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>windsources &amp; wind</a></span></li><li><span><a href="#legs" data-toc-modified-id="legs-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>legs</a></span></li><li><span><a href="#race_comp" data-toc-modified-id="race_comp-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>race_comp</a></span></li><li><span><a href="#comp_leg" data-toc-modified-id="comp_leg-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>comp_leg</a></span></li><li><span><a href="#positions" data-toc-modified-id="positions-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>positions</a></span></li><li><span><a href="#courses" data-toc-modified-id="courses-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>courses</a></span></li><li><span><a href="#marks" data-toc-modified-id="marks-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>marks</a></span></li><li><span><a href="#marks_positions" data-toc-modified-id="marks_positions-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>marks_positions</a></span></li><li><span><a href="#Extra-functions-in-case-something-went-wrong-for-a-few-entries" data-toc-modified-id="Extra-functions-in-case-something-went-wrong-for-a-few-entries-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Extra functions in case something went wrong for a few entries</a></span></li></ul></li><li><span><a href="#Fill-columns-with-extra-information-to-complete-database" data-toc-modified-id="Fill-columns-with-extra-information-to-complete-database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Fill columns with extra information to complete database</a></span><ul class="toc-item"><li><span><a href="#Update-final-rank-in-race_comp" data-toc-modified-id="Update-final-rank-in-race_comp-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Update final rank in race_comp</a></span></li><li><span><a href="#Get-chosen-side-of-competitors-for-leg-1" data-toc-modified-id="Get-chosen-side-of-competitors-for-leg-1-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Get chosen side of competitors for leg 1</a></span></li><li><span><a href="#Determining-Course-Area" data-toc-modified-id="Determining-Course-Area-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Determining Course Area</a></span></li><li><span><a href="#Number-of-competitors-per-race-and-their-relative-rank" data-toc-modified-id="Number-of-competitors-per-race-and-their-relative-rank-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Number of competitors per race and their relative rank</a></span></li><li><span><a href="#Categorize-Sailing-Style-per-Race" data-toc-modified-id="Categorize-Sailing-Style-per-Race-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Categorize Sailing Style per Race</a></span></li><li><span><a href="#Positions-Start-Line" data-toc-modified-id="Positions-Start-Line-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Positions Start Line</a></span></li><li><span><a href="#Relative-Speeds" data-toc-modified-id="Relative-Speeds-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Relative Speeds</a></span></li><li><span><a href="#positions_view" data-toc-modified-id="positions_view-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>positions_view</a></span></li><li><span><a href="#Calculate-Correlations" data-toc-modified-id="Calculate-Correlations-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Calculate Correlations</a></span></li></ul></li><li><span><a href="#Extra" data-toc-modified-id="Extra-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Extra</a></span><ul class="toc-item"><li><span><a href="#Usefull-other-queries" data-toc-modified-id="Usefull-other-queries-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Usefull other queries</a></span></li></ul></li></ul></div>

# Fill Tables with data from jsons

In [8]:
###############################
## Tabellen vullen
###############################
import os, sys, inspect, json
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.append(parentdir)

from lib.Utilities.globalVar import *
import lib.TransformData.combineData as combd
cd = combd.combineData()
import Download.download as download
from Utilities.converter import *

import pandas as pd
import numpy as np
from math import *
import urllib, json, requests
import pyodbc
from sqlalchemy import *
from sqlalchemy.exc import IntegrityError, InternalError
from sqlalchemy.types import BINARY, VARCHAR
from sqlalchemy import event
from sqlalchemy.types import TypeDecorator, CHAR
from sqlalchemy.dialects.postgresql import UUID
import uuid

In [9]:

server = 'sic-match-analysis.database.windows.net'
database = 'match-analysis'
username = 'sic-admin'
password = 'ZeilenIsLeuk!'
driver= '{ODBC Driver 17 for SQL Server}'
connection_str = 'DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password


cnxn = pyodbc.connect(connection_str)
cursor = cnxn.cursor()

quoted = urllib.parse.quote_plus(connection_str)
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))


@event.listens_for(engine, 'before_cursor_execute')
def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
    if executemany:
        cursor.fast_executemany = True
        cursor.commit()

In [16]:
event  = [
    {'name' :  'hwcs2020-round1', 'AllRegattas': True, 'regattaNameContaining': 'HWCS 2020 Round 1', 'raceNameContaining': ''}
         ,{'name' : 'www', 'AllRegattas' : False, 'regattaNameContaining': 'Enoshima', 'raceNameContaining': ''}
         ,
    {'name' :  'tokyo2019', 'AllRegattas': True, 'regattaNameContaining': 'Tokyo', 'raceNameContaining': ''}
]
events = [{'name' :  'www', 'regattaNameContaining': 'WCS 2019 Genoa - 49er', 'raceNameContaining': ''},
         {'name' : 'www', 'regattaNameContaining': 'WCS 2019 Genoa - Nacra', 'raceNameContaining' : 
          ''}]
eventSelection = event

addNewRaces = False

## regattas

In [17]:
## TABLE 1 regattas
sql = """
SELECT TOP (0) * from regattas
"""
reg = pd.read_sql(sql, con = engine)

for serv in eventSelection:    
    urlb = urlbase.replace('www', serv['name'])
    url = urlb + 'regattas'
    data = getData(url)
    cd = combd.combineData(serv)
    df = cd.transformJsonToPD(data, 'regattas')
    reg = reg.append(df)
    toSql(df, 'regattas', engine)

reg = reg.reset_index(drop = True)

IntegrityError: Failed to upload regattas to sql :for regatta: 	, race:
IntegrityError: Failed to upload regattas to sql :for regatta: 	, race:
IntegrityError: Failed to upload regattas to sql :for regatta: 	, race:

In [18]:
reg

,regatta,boatclass,courseAreaId
0,HWCS 2020 Round 1 - Laser,Laser Int.,180a9561-4034-4cc6-aaa6-698338bfd5cc
1,HWCS 2020 Round 1 - Laser Radial,Laser Radial,180a9561-4034-4cc6-aaa6-698338bfd5cc
2,HWCS 2020 Round 1 - Finn,Finn,180a9561-4034-4cc6-aaa6-698338bfd5cc
3,HWCS 2020 Round 1 - Nacra 17,Nacra 17,180a9561-4034-4cc6-aaa6-698338bfd5cc
4,HWCS 2020 Round 1 - RS:X Men,RS:X,180a9561-4034-4cc6-aaa6-698338bfd5cc
5,HWCS 2020 Round 1 - RS:X Women,RS:X,180a9561-4034-4cc6-aaa6-698338bfd5cc
6,HWCS 2020 Round 1 - 470 Men,470,180a9561-4034-4cc6-aaa6-698338bfd5cc
7,HWCS 2020 Round 1 - 49er,49er,180a9561-4034-4cc6-aaa6-698338bfd5cc
8,HWCS 2020 Round 1 - 470 Women,470,180a9561-4034-4cc6-aaa6-698338bfd5cc
9,HWCS 2020 Round 1 - 49erFX,49erFX,180a9561-4034-4cc6-aaa6-698338bfd5cc
10,WCS 2019 Enoshima - Laser,Laser Int.,145b4fdc-31e4-4c04-98ec-2235921fb9ee
11,WCS 2019 Enoshima - RS:X Men,RS:X,4d2790cf-0d30-44c7-a948-9654406b8766
12,WCS 2019 Enoshima - 49er,49er,4d2790cf-0d30-44c7-a948-9654406b8766
13,WCS 2019 Enoshima - Nacra 17,Nacra 17 Foiling,4d2790cf-0d30-44c7-a948-9654406b8766
14,WCS 2019 Enoshima - RS:X Women,RS:X,4d2790cf-0d30-44c7-a948-9654406b8766
15,WCS 2019 Enoshima - 49erFX,49erFX,4d2790cf-0d30-44c7-a948-9654406b8766
16,WCS 2019 Enoshima - Laser Radial,Laser Radial,145b4fdc-31e4-4c04-98ec-2235921fb9ee
17,WCS 2019 Enoshima - Finn,Finn,145b4fdc-31e4-4c04-98ec-2235921fb9ee
18,WCS 2019 Enoshima - 470 Women,470,145b4fdc-31e4-4c04-98ec-2235921fb9ee
19,WCS 2019 Enoshima - 470 Men,470,145b4fdc-31e4-4c04-98ec-2235921fb9ee
20,Tokyo 2019 - Laser Radial,Laser Radial,c55f9973-28d3-4769-b678-48ffd685c47c
21,Tokyo 2019 - 49er,49er,c55f9973-28d3-4769-b678-48ffd685c47c
22,Tokyo 2019 - RS:X Women,RS:X,c55f9973-28d3-4769-b678-48ffd685c47c
23,Tokyo 2019 - Laser,Laser Int.,c55f9973-28d3-4769-b678-48ffd685c47c
24,Tokyo 2019 - 49er FX,49erFX,c55f9973-28d3-4769-b678-48ffd685c47c
25,Tokyo 2019 - Finn,Finn,c55f9973-28d3-4769-b678-48ffd685c47c
26,Tokyo 2019 - RS:X Men,RS:X,c55f9973-28d3-4769-b678-48ffd685c47c
27,Tokyo 2019 - Nacra 17,Nacra 17,c55f9973-28d3-4769-b678-48ffd685c47c
28,Tokyo 2019 - 470 Men,470,c55f9973-28d3-4769-b678-48ffd685c47c

## races

In [13]:
# TABLE 2 races columns; 
# regatta
# race
# raceShort
# raceId
# maxWindSpd_kts
# minWindSpd_kts
# avgWindDir_deg
# firstlegbearing_deg

# coming from races, windsummary and firstlegbearing
filenames = ['races', 'windsummary', 'firstlegbearing']

for idx, row in reg.iterrows():
    if not addNewRaces:
        print("No new races are added, because you didn't want to")
        break
    regName = row.regatta
    
    url = urlbase + 'regattas/{}/races'.format(regName)
    data = getData(url)
    dic_data = {'regatta': regName, 'data': data}
    races = cd.transformJsonToPD(dic_data, 'races')
    
       
    url = urlbase + 'regattas/{}/windsummary'.format(regName)
    data = getData(url)
    dic_data = {'regatta': regName, 'data': data}
    windsummary = cd.transformJsonToPD(dic_data, 'windsummary').set_index(['regatta', 'raceShort', 'fleet'])   
    
    flb = []
    for index, race in races.iterrows():
        raceName = race.race               
        url = urlbase + 'regattas/{}/races/{}/firstlegbearing'.format(regName, raceName)
        data = getData(url)

        dic_data = {'race_id': race.race_id, 'data': data}
        firstlegbearing = cd.transformJsonToPD(dic_data, 'firstlegbearing') 
        flb.append(firstlegbearing)
    flb = pd.concat(flb).set_index('race_id')


    races = races.set_index(['regatta', 'raceShort', 'fleet'])
    result = pd.concat([races, windsummary], axis=1, join='outer').reset_index().set_index('race_id')
    result = pd.concat([result, flb], axis=1, join='outer').reset_index().rename(columns = {'index':'race_id'})

    toSql(result, 'races', engine, regName)

No new races are added, because you didn't want to

In [14]:
sql = """
SELECT top (0) race_id, regatta, race from races
"""
raceSelection = pd.read_sql(sql, con = engine)
for idx, row in reg.iterrows():
    sql = """
    SELECT race_id, regatta, race from races
    where regatta = '{}'
    """.format(row.regatta)
    raceSelection = raceSelection.append(pd.read_sql(sql, con = engine))
raceSelection = raceSelection.reset_index(drop = True)
print(raceSelection)
stop

                                            race_id  \
0             b'"M\xfap\xa4G\x017\x8e\xe4H\xf7PH#*'
1       b'#\x1a\x01\xf0\xa4G\x017\x8f\x0eH\xf7PH#*'
2             b'#\xf20\xb0\xa4G\x017\x8f8H\xf7PH#*'
3          b'M\xb1\xeb@\xa2\xc8\x017`\x02H\xf7PH#*'
4                b'Ng\xd9`\xa2\xc8\x017`.H\xf7PH#*'
..                                              ...
97      b'\xe3U\x9e\xc0\xa2\xc5\x017]\xe4H\xf7PH#*'
98         b'\xef\xd2\x91 \xa5n\x017\xbczH\xf7PH#*'
99      b'\xf0r\xbb\xd0\xa5n\x017\xbc\x92H\xf7PH#*'
100     b'\xfb\x83r`\xa4\x9e\x017\xac\xbaH\xf7PH#*'
101  b'\xfc\x11&\xc0\xa4\x9e\x017\xac\xd2H\xf7PH#*'

                       regatta               race
0    Tokyo 2019 - Laser Radial  R4 (Laser Radial)
1    Tokyo 2019 - Laser Radial  R5 (Laser Radial)
2    Tokyo 2019 - Laser Radial  R6 (Laser Radial)
3    Tokyo 2019 - Laser Radial  R2 (Laser Radial)
4    Tokyo 2019 - Laser Radial  R3 (Laser Radial)
..                         ...                ...
97        Tokyo 2019 - 470 Men       R1 (470 Men)
98        Tokyo 2019 - 470 Men       R9 (470 Men)
99        Tokyo 2019 - 470 Men      R10 (470 Men)
100       Tokyo 2019 - 470 Men       R7 (470 Men)
101       Tokyo 2019 - 470 Men       R8 (470 Men)

[102 rows x 3 columns]

NameError: name 'stop' is not defined

In [ ]:
## add begin and end time to races
for idx, row in raceSelection.iterrows():
    
    regName = row.regatta
    raceName = row.race

    url = dataUrl(regName, raceName, 'times')
    data = getData(url, regName, raceName)
    dic_data = {'race_id': row.race_id, 'data': data}
    df = cd.transformJsonToPD(dic_data, 'times')#.set_index(['regatta', 'comp_name']) 
    times = [df['startOfRace-ms'].values[0],df['endOfRace-ms'].values[0]]
    if times[0] is None:
        print('No times found for {} {}'.format(regName, raceName))
        continue
    cursor.execute("""
        UPDATE races
        SET    races.[startOfRace-ms] = {}
               ,races.[endOfRace-ms] = {}
        WHERE
        regatta = '{}'
          and race = '{}'
          """.format(df['startOfRace-ms'].values[0],df['endOfRace-ms'].values[0] 
                     , regName , raceName)
                  )
    cursor.commit()

## competitors

In [ ]:
url = 'https://www.sapsailing.com/sailingserver/api/v1/regattas/datamining'
data = getData(url)
query_ids = pd.DataFrame(data)
query_ids.Identifier

In [ ]:
## TABLE 3 Competitors
for idx, row in reg.iterrows():
    regName = row.regatta
    
    url = urlbase + 'regattas/{}/entries'.format(regName)
    data = getData(url, regName)
    dic_data = {'regatta': regName, 'data': data}
    competitors = cd.transformJsonToPD(dic_data, 'entries').set_index(['regatta', 
                                                                      'comp_name'])

    dir_datamining =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                    webAddressToFilename(regattaLoc(regName)) + '/datamining/'
    datamining_reg = []

    for idx, q in query_ids.iterrows():
        url = urlbase + 'regattas/{}/datamining/{}'.format(regName, q.Identifier)
        data = getData(url)
        dic_data = {'regatta': regName, 'data': data}
        df = cd.transformJsonToPD(dic_data, q.Identifier).set_index(['regatta', 'comp_name']) 
        datamining_reg.append(df)

    datamining_reg = pd.concat(datamining_reg, axis = 1, join = 'outer')
    result = pd.merge(datamining_reg.reset_index(), competitors.reset_index(), how='left')
    
    toSql(result, 'competitors', engine, regName)

## windsources & wind

In [ ]:
## Table 4 wind

for indx, row in raceSelection.iterrows():    
    regName = row.regatta
    raceName = row.race

    ## quick check whether there are already windsources loaded
    print('Get first pos windsources', end = '\r')
    sql = """ SELECT * FROM {}
            WHERE race_id = {}
          """.format('windsources', idToText(row.race_id))
    check = pd.read_sql(sql, con = engine) ## already a positions for this race ?   
    if check.empty:
#                     print('\tAlready positions found in wind for \t{} \t{} \t{}'.format(regName, raceName, ws.typeName, ws.id))
        print('Fetch windsources data', end = '\r')        
        url_ws = windUrl(regName, raceName)
        data = requests.get(url_ws, timeout = 100)

        if data.status_code == 404:
            print('No windsources available for {} {}'.format(regName, raceName))
            continue
        data = data.json()
        print('Transform windsources data', end = '\r')     
        dic_data = {'race_id': row.race_id, 'data': data}
        df = cd.transformJsonToPD(data, 'windsources')
        df.insert(0,'race_id', row.race_id)
        f = toSql(df,'windsources', engine, regName, raceName)
    else:
        df = check
        print('already windsources found for {} {}'.format(regName, raceName))

    for idx, ws in df.iterrows():
        ## quick check whether there are already entries
        if ws.typeName != "EXPEDITION":
            continue
 
        print('Get first pos wind        ', end = '\r')
        sql = """ SELECT TOP (1) * FROM {}
                WHERE race_id = {}
                and windSource = 'EXPEDITION'
                and windSource_id = '{}'
              """.format('wind', idToText(row.race_id),  ws.id)
        check = pd.read_sql(sql, con = engine) ## already a positions for this race ?   
        if not check.empty:
            print('\tAlready positions found in wind for \t{} \t{} \t{}'.format(regName, raceName, ws.typeName, ws.id))
            continue
        print('load data from url', end = '\r')
        url_wind = windUrl(regName, raceName, windSource = ws.typeName, windSourceId = ws.id)
        data = requests.get(url_wind, timeout = 100)
        if data.status_code == 400:
            print('\tNo wind available for {} {} {}'.format(regName, raceName, ws.typeName))
            continue
        data = data.json()
        df = cd.transformJsonToPD(data, 'wind')
        if df.empty:
            print('\tNo wind available for {} {} {} {}'.format(regName, raceName, ws.typeName, ws.id))
            continue            
        df.windSource = df.windSource.apply(lambda x: ws.typeName)
        df.insert(0, 'windSource_id', ws.id)
        df.insert(0, 'race_id', row.race_id)
        print('Upload wind data to sql server', end = '\r')
        e = toSql(df, 'wind', engine, regName, raceName + ws.typeName + ws.id)

In [ ]:
check

## legs

In [ ]:
## TABLE 5 legs
# [regatta]
# ,[race]
# ,[leg_nr]
# ,[fromWaypointId]
# ,[toWaypointId]
# ,[to]
# ,[from]
# ,[upOrDownwindLeg]
# ,[leg_nr_from_finish]
# ,[distance]

           
for indx, row in raceSelection.iterrows():    
    regName = row.regatta
    raceName = row.race    
    url = dataUrl(regName, raceName, 'competitors/legs')
    data = getData(url)
    dic_data = {'regatta': regName, 'race_id': row.race_id, 'data': data}
    df = cd.transformJsonToPD(dic_data, 'legs') 
    
    e = toSql(df, 'legs', engine, regName, raceName)

## race_comp

In [ ]:
### TABLE 6
## This code create all entries in race_comp. We do this by checking that the nr_competitors in 
## the races table is still NULL because we did not update that yet.
## We will later add rank, based on comp_leg
sql = """
INSERT INTO race_comp(race_id, regatta, comp_id)
SELECT races.race_id, races.regatta, competitors.comp_id FROM races, competitors
WHERE races.regatta = competitors.regatta
 and races.nr_competitors IS NULL
"""
cursor.execute(sql)
cursor.commit()

## comp_leg

In [ ]:
## TABLE 7 comp_leg
# [regatta]
# ,[race]
# ,[leg_nr]
# ,[comp_id]
# ,[competitor_distanceTraveled-m]
# ,[competitor_averageSOG-kts]
# ,[competitor_tacks]
# ,[competitor_jibes]
# ,[competitor_penaltyCircles]
# ,[competitor_rank]
# ,[competitor_gapToLeader-s]
# ,[competitor_gapToLeader-m]
# ,[competitor_started]
# ,[competitor_finished]

for indx, row in raceSelection.iterrows():    
    regName = row.regatta
    raceName = row.race    
    url = dataUrl(regName, raceName, 'competitors/legs')
    data = getData(url)
    dic_data = {'regatta': regName, 'race_id': row.race_id, 'data': data}
    df = cd.transformJsonToPD(dic_data, 'comp_leg')     
    e = toSql(df, 'comp_leg', engine, regName, raceName)

## positions

In [ ]:
### Markpassings, to update legnr_columnn in positions

cursor.execute("""
DROP TABLE temp_markpassings
CREATE TABLE temp_markpassings
(race_id binary (16) NOT NULL,
comp_id binary(16) NOT NULL,
leg_nr int NOT NULL,
begin_leg_ms bigint NULL,
end_leg_ms bigint NULL

)

CREATE UNIQUE INDEX idx ON temp_markpassings (race_id, leg_nr, comp_id);
CREATE CLUSTERED INDEX idx_2 ON temp_markpassings (race_id, comp_id);

""")

cursor.execute("""
ALTER TABLE temp_markpassings
ADD CONSTRAINT fk_temp_markpassings2_comp_leg FOREIGN KEY (race_id, leg_nr, comp_id)
      REFERENCES comp_leg (race_id, leg_nr, comp_id)
      ON DELETE CASCADE
      ON UPDATE CASCADE
""")
cursor.commit()

In [ ]:
#### TEMPORARY TABLE MARKPASSINGS

for indx, row in raceSelection.iterrows():    
    regName = row.regatta
    raceName = row.race    
    url = dataUrl(regName, raceName, 'markpassings')
    data = getData(url)
    if data is None:
        continue
    dic_data = {'regatta': regName, 'race_id': row.race_id, 'data': data}
    df = cd.transformJsonToPD(dic_data, 'markpassings')     
    e = toSql(df, 'temp_markpassings', engine, regName, raceName)

In [ ]:
data = requests.get(url, timeout = 100)
data.status_code == 404

In [ ]:
## TABLE 8 positions

for ids, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    
    print('Get first positions\t\t\t', end = '\r')
    sql = """ SELECT * FROM {}
            WHERE leg_nr = 1 and race_id = {}
          """.format('positions', race_id)
    check = pd.read_sql(sql, con = engine) ## already a positions for this race ?   
    if not check.empty:
        print('Already positions found in db for \t{} \t{}'.format(regName, raceName))
        continue

    print('get markpassings\t\t\t', end="\r")
    sql = """ SELECT * FROM temp_markpassings
            WHERE race_id = {}
            """.format(race_id)
    mps = pd.read_sql(sql, con = engine) ## markpassings for this race
    if mps.empty:
        print('No markpassings where found for\t{} \t{}'.format(regName, raceName))
        continue        
        
    print('Fetch positions data\t\t\t', end = '\r')        
    url_ws = dataUrl(regName, raceName, 'positions_comp')
    data = requests.get(url_ws, timeout = 100)

    if data.status_code == 404:
        print('No positions available for {} {}'.format(regName, raceName))
        continue
    data = data.json()
    
    dic_data = {'regatta': regName, 'race_id': row.race_id, 'data': data}
    print('Transform positions data\t\t\t', end = '\r')        
    df = cd.transformJsonToPD(dic_data, 'competitor_positions')

    print('determine leg numbers\t\t\t', end="\r")
    for idx, comp_leg in mps.iterrows():
        df.loc[(df.comp_id == comp_leg.comp_id) & (df['timepoint_ms'] > comp_leg.begin_leg_ms)
               & (df['timepoint_ms'] < comp_leg.end_leg_ms),'leg_nr'] = comp_leg.leg_nr
    df = df.dropna(subset=['leg_nr'])
    
    toSql(df,'positions', engine, regName, raceName)

## courses

In [ ]:
## Table 9 couses
cd.uploadRaceData(raceSelection, 'course', 'course', 'courses', engine )

## marks

In [ ]:
## Table 10 marks
cd.uploadRaceData(raceSelection, 'marks/positions', 'marks', 'marks', engine )

## marks_positions

In [ ]:
## Table 9 marks_positions
cd.uploadRaceData(raceSelection, 'marks/positions', 'marks_positions', 'marks_positions', engine )

## Extra functions in case something went wrong for a few entries

In [ ]:
### Extra functions to manually add tracks of seperate competitors
## in the previous cell tracks have been added per race, but for some reason it went wrong in some cases

def uploadPositions(regName, race, comp_id):
    dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                    webAddressToFilename(regattaLoc(regName)) + '/races/'
    filepath = dir_races + webAddressToFilename(race) + "/competitors/positions.json"
    sql = """ SELECT * FROM temp_markpassings
            WHERE regatta = '{}'
            and race = '{}'
            and comp_id = {}
            """.format(regName, race, comp_id)
    mps = pd.read_sql(sql, con = engine) ## markpassings for this race
    
    if mps.empty:
        print('No markpassings found, try to download them again')
    
    with open(filepath) as json_file:
#                     print('file extracted: ', filepath)
        data = json.load(json_file)
    dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}

    print('transform to pd', end="\r")
    df = cd.transformJsonToPD(dic_data, 'competitor_positions') 

    print('determine leg numbers', end="\r")
    for idx, comp_leg in mps.iterrows():
        df.loc[(df.comp_id == comp_leg.comp_id) & (df['timepoint_ms'] > comp_leg.begin_leg_ms)
               & (df['timepoint_ms'] < comp_leg.end_leg_ms),'leg_nr'] = comp_leg.leg_nr
    df = df.dropna(subset=['leg_nr'])
#                 print(mps.head())
#                 print(df.head())

    try:
        print('Uploading positions to db', end="\r")
        df.to_sql('positions', con = engine, index = False, if_exists = 'append', chunksize = 10000)
        print('Added positions of \t{} \t{} \t succesfully to the database'.format(regName, race))
    except IntegrityError as e:
        print('Could not add positions of \t{} \t{} \tto the database because of IntegrityError.'.format(regName,race))
    return df

# Fill columns with extra information to complete database

## Update final rank in race_comp

In [ ]:

for indx, row in raceSelection.iterrows():    
    regName = row.regatta
    raceName = row.race    
    race_id = idToText(row.race_id)
    print(regName, raceName)

    sql = """
    UPDATE
        race_comp
    SET
        race_comp.rank = (
                SELECT comp_leg.competitor_rank from comp_leg 
                        INNER JOIN legs ON comp_leg.race_id = legs.race_id
                                    AND comp_leg.leg_nr = legs.leg_nr
                WHERE legs.leg_nr_from_finish = 1
                    AND race_comp.race_id = comp_leg.race_id 
                    AND race_comp.comp_id = comp_leg.comp_id

    )
    where race_comp.race_id = {race_id}
    """.format(race_id = race_id)
    cursor.execute(sql)
    cnxn.commit()

## Get chosen side of competitors for leg 1

In [ ]:
for indx, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    
    print('Get competitors in leg 1', end = '\r')
    sql = """SELECT  comp_leg.race_id, comp_leg.comp_id
                    ,comp_leg.competitor_started
                    ,comp_leg.competitor_finished
                    ,comp_leg.avg_side

            from comp_leg 
            where comp_leg.race_id = {}
                  and leg_nr = 1""".format(race_id)
    df = pd.read_sql_query(sql, con = engine)
    for index, row in df.iterrows():
        
        
        comp_id = "0x{}".format(row['comp_id'].hex().upper())
        sql = """SELECT  TOP (1) *
          FROM comp_leg
          WHERE race_id = {}
          and comp_id = {}
          and leg_nr = 1""".format(race_id, comp_id)
        comp_leg = pd.read_sql_query(sql, con = engine, chunksize=None)

        if not (comp_leg.avg_side.values[0] is None):
#             print(row['regatta'], row['race'] , comp_id , end="\t")
            print('{} {} {} Side already determined'.format(regName, raceName, comp_id))
            continue

        if not row['competitor_started'] or not row['competitor_finished']:
#             print(row['regatta'], row['race'] , comp_id , end="\t")
            print('{} {} {} Competitor did not finish leg'.format(regName, raceName, comp_id))
            continue
        
        print('Get track of competitor', end = '\r')
        sql = """SELECT  *
          FROM positions
          WHERE leg_nr = 1
          and race_id = {}
          and comp_id = {}
          """.format(race_id, comp_id)
        track = pd.read_sql_query(sql, con = engine, chunksize=None)


        if track.empty:
            print('No track found {} {} {}'.format(regName, raceName, comp_id))
            break
            
            
        print('Determine stats\t\t\t', end = '\r')
        stats = [str(x) for x in trackStatistics(track)]
        print('Update \t\t\t\t\t', end = '\r')
        cursor.execute("""
        UPDATE comp_leg
        SET    comp_leg.avg_side = {}
               ,comp_leg.most_left = {}
               ,comp_leg.most_right = {}
        WHERE
        race_id = {}
          and comp_id = {}
          and leg_nr = 1
          """.format(stats[0], stats[1], stats[2],race_id, comp_id)
                      )
        cursor.commit()
        
    print('Succesfully updated {} {}'.format(regName, raceName))

## Determining Course Area

In [ ]:
sql = """SELECT  *
  FROM course_areas"""
areas = pd.read_sql_query(sql, con = engine)

areas['equid'] = areas.apply(lambda x:  coordinatesToEquiv(x, centre = False), axis =  1)


for indx, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    

    print('determining racearea of {} {}'.format(regName,raceName)
          , end = '\r')
    value = str(getArea(row, areas, engine))
    if value == "-1":
        continue
    print(value)
    print('update', end = '\r')
    cursor.execute("""UPDATE races
                    SET races.course_area_id = {}
                    WHERE race_id = {}
                    """.format(value, race_id))
    cursor.commit()

## Number of competitors per race and their relative rank

In [ ]:
for indx, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    print(regName, raceName)
    cursor.execute("""
                    UPDATE
                        races
                    SET
                        races.nr_competitors = temp_table.nr_competitors
                    FROM
                        (SELECT race_comp.race_id, count(rank) as nr_competitors
                                                  FROM race_comp 
                                                  GROUP by race_id) AS temp_table
                        INNER JOIN races on temp_table.race_id = races.race_id
                    WHERE races.race_id = {}
                """.format(race_id))
    cursor.commit()

In [ ]:
for indx, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    print(regName, raceName)
    cursor.execute("""
                UPDATE
                    comp_leg
                SET
                    comp_leg.rel_rank = temp_table.rel_rank
                FROM
                    (SELECT comp_leg.race_id, comp_leg.comp_id
                           ,comp_leg.competitor_rank
                           , comp_leg.competitor_rank/convert(decimal(4,2), races.nr_competitors) as rel_rank
                        FROM comp_leg INNER JOIN races
                            ON comp_leg.race_id = races.race_id 
                        )
                        AS temp_table INNER JOIN comp_leg
                            ON comp_leg.race_id = temp_table.race_id 
                                 and comp_leg.comp_id = temp_table.comp_id
                where comp_leg.race_id = {}

                """.format(race_id))
    cursor.commit()

In [ ]:
race_id

## Categorize Sailing Style per Race

In [ ]:
# regName = 'HWCS 2020 Round 1 - 470 Men'
# sql = """SELECT  *
#   FROM legs
#   WHERE regatta = '{}'
#   and leg_nr = 1""".format(regName)
# df = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None)
# race = df.loc[4,:]
# print(race)
# sql = """SELECT  *
#   FROM sailing_style"""
# styles = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None)
# style = styles.loc[1,:]
# style

In [ ]:
# for serv in eventSelection:
#     for indx, regatta in serv['regattas'].iterrows():
#         print('determining sailing types of {}'.format(regName)
#         regName = regatta.regatta
#         sql = """SELECT  *
#           FROM legs
#           WHERE legs.regatta = '{}'
#           and leg_nr = 1""".format(regName)
#         df = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None)
        
#         for ind, race in df.iterrows():
#                   , end = ' ')
#             print(race.correlation_tacks)
#             if isnan(race.correlation_tacks):
#                 continue
#             value = sailing_style(race, styles)
#             print(value)
#             cursor.execute("""UPDATE races
#                             SET races.sail_style_id = {}
#                             WHERE regatta = '{}'
#                                 AND race = '{}'
#                             """.format(value, regName, race['race']))
#             cursor.commit()

## Positions Start Line

In [ ]:
## get from new positions

In [ ]:
for indx, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    print(regName, raceName, end = '\r')
    ## Start time
    sql = """SELECT  *
      FROM races
      WHERE race_id = {}""".format(race_id)
    race = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True,
                             params=None, parse_dates=None, chunksize=None)

    st = race['startOfRace-ms'].values[0] ## start time
    if st is None:
        print('\t No start time found for {} {}'.format(regName, raceName))
        continue


    print('Updating Startline', end = '\r')


    ## position buoys
    sql = """SELECT  *
      FROM courses
      WHERE race_id = {}
      and mark_nr = 0""".format(race_id)
    start = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True,
                              params=None, parse_dates=None, chunksize=None)

    id_l = start['controlPoint.left.id'].values[0]  #RC
    id_r = start['controlPoint.right.id'].values[0] #Pin

    sql = """SELECT  *
      FROM marks_positions
      WHERE race_id = {}
      and (id = {} or id = {})
      and [timepoint-ms] <= {}+3000
      and [timepoint-ms] >= {}-3000""".format(race_id, idToText(id_l), idToText(id_r), st,st)
    st_line = pd.read_sql_query(sql, con = engine)
    #select one timepoint
    if st_line.empty:
        print("\tNo startline available for {} {}".format(regName, raceName))
        continue
    mask = st_line[['id', 'timepoint-ms']].groupby('id').idxmin()['timepoint-ms']
    st_line = st_line.loc[mask].set_index('id')            
    
    if len(st_line)<2:
        print('Startline not complete for {} {}'.format(regName, raceName))
        continue
    rc = st_line.loc[id_l,:]
    pin = st_line.loc[id_r,:]
    st_bearing = bearing(rc,pin)        
        
    ## windmeasurements at start
    skip_wind = 0
    sql = """SELECT * FROM windsources
                    WHERE race_id = {}
                        AND typeName = 'EXPEDITION'""".format(race_id)
    windsources = pd.read_sql_query(sql, con = engine)
    rc_windsource = windsources.loc[windsources.rc == 1]
    
    if rc_windsource.empty:
         ## wind measurement at RC
        print('Get windsources', end = '\r')
        sql = """SELECT  *
            FROM wind
            WHERE race_id = {}
            and [timepoint-ms] <= {}+3000
            and [timepoint-ms] >= {}-3000
            """.format(race_id, st, st)
        wind = pd.read_sql_query(sql, con = engine)
        wind = wind.loc[wind.windSource == 'EXPEDITION']
        if wind.empty:
            print('No wind measurements available for {} {}'.format(regName, raceName))
            skip_wind = 1
        
        else:
            print('Determine closest ws', end = '\r')
            rc = st_line.loc[id_l,:]
            dist = wind[['lat-deg', 'lng-deg']].apply(lambda x: np.linalg.norm([x['lat-deg']- rc['lat-deg'],
                                                                                x['lng-deg']- rc['lng-deg']]),
                                               axis = 1)

            source = wind.loc[dist.idxmin()] 
            ## Update windsources to highlight this source to be at the rc
            sql = """UPDATE windsources
                            SET windsources.rc = 1
                            WHERE race_id = {}
                                AND typeName = 'EXPEDITION'
                                AND id = '{}'
                            """.format(race_id, source.windSource_id )
            cursor.execute(sql)
            cursor.commit()

    else:
        print('Wind at rc is already determined', end = '\r')
        # So the closest wind source is already known
        sql = """SELECT  *
            FROM wind
            WHERE race_id = {}
            and windSource = 'EXPEDITION'
            and windSource_id = '{}'
            """.format(race_id, rc_windsource.id.values[0])
        wind = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None,
                                 parse_dates=None, chunksize=None)
        source = wind.loc[0]
    
    if not skip_wind:
        wind_msr = wind.loc[(wind.windSource_id == source.windSource_id) & (wind['timepoint-ms'] == st)].reset_index()
                    ### check if there always exists one
        if wind_msr.empty:
            wind_msr = wind.loc[(wind.windSource_id == source.windSource_id)].reset_index()
            wind_time = wind_msr['timepoint-ms'].apply(lambda x: abs(x - st)).idxmin()
            wind_msr = wind_msr.loc[wind_time]

        ## determine startline stats
        wind_dir = wind_msr.squeeze()['dampenedTrueBearing-deg']
        dir_diff = wind_dir - (st_bearing - 90) 
        dir_diff = ((dir_diff+ 180)%360) - 180 ## denk na over modulo rekenen, zodat alles tussen -40 + 40 komt

        if dir_diff <-90:
            dir_diff +=180
        if dir_diff >90:
            dir_diff -= 180
        if dir_diff<0:
            side = 'Left'
        else:
            side = 'Right'
#             plt.plot(rc['lng-deg'], rc['lat-deg'], 'r.')
#             plt.plot(pin['lng-deg'], pin['lat-deg'], 'b.')
#             plt.show()
#             print('st_bearing = {}\t perpendicular to st = {}\t windbearing = {}\t calculated angle = {}'.format(st_bearing,
#                                                                                                                 (st_bearing - 90), 
#                                                                                                                 wind_msr.squeeze()['trueBearing-deg'],
#                                                                                                                 dir_diff))
        ## update races table
        sql = """UPDATE races
                        SET races.stl_bearing_diff_wind = {}
                        , races.stl_fav_side = '{}'
                        , races.start_wind_dir = {}
                        , races.stl_bearing = {}
                        WHERE race_id = {}
                        """.format(dir_diff, side, wind_dir, st_bearing,race_id)
        cursor.execute(sql)
        cursor.commit()

    print('Updating Competitors at Start    ', end = '\r')
    # check whether competitors are already updated
    sql =""" SELECT * from race_comp
                    WHERE race_id = {}
                        AND pos_startline_abs_x IS NOT NULL                               

                    """.format(race_id)
    df = pd.read_sql(sql, con = engine)
    if not df.empty:
        print('competitor start locations already known for {} {}'.format(regName, raceName))
        continue



    ## positions competitors at start
    sql = """select p.*
            from positions p
            join (select race_id, comp_id, min(timepoint_ms) as t
                  from positions
                  group by race_id, comp_id) p2
                on p.race_id = p2.race_id and p.comp_id = p2.comp_id 
                and p.timepoint_ms = p2.t
            Inner join comp_leg as cl on 
                    p.race_id = cl.race_id and p.comp_id = cl.comp_id 
                    and p.leg_nr = cl.leg_nr
            where 
            p.race_id = {}
            and cl.competitor_started = 1 and cl.leg_nr = 1
    """.format(race_id)
    comp = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None,
                             parse_dates=None, chunksize=None)
    if comp.empty:
        print('WARNING: No positions found for competitors')

    X = startline(comp, pin, rc)
    X_x =  np.asarray(X)[0]
    X_y = np.asarray(X)[1]
#     plt.plot(X_x, X_y, '.')
#     plt.axis('equal')
#     plt.show()
    comp['pos_startline_abs_x'] = X_x
    comp['pos_startline_abs_y'] = X_y
    rel_order = X_x.argsort().argsort()/(len(X_x)-1)
    comp['pos_startline_rel'] = rel_order

    ## Update race_comp
    for idx, competitor in comp.iterrows():
        sql = """UPDATE race_comp
                    SET race_comp.pos_startline_abs_x = {}
                    , race_comp.pos_startline_abs_y = {}
                    , race_comp.pos_startline_rel = {}
                    WHERE race_id = {}
                        AND comp_id = {}
                    """.format(competitor.pos_startline_abs_x,
                               competitor.pos_startline_abs_y,
                               competitor.pos_startline_rel,
                               race_id,
                              idToText(competitor.comp_id))
        cursor.execute(sql)
        cursor.commit()

    print('Succesfully updated startline for {} {}'.format(regName,raceName))

## Relative Speeds

In [15]:
for indx, row in raceSelection.iterrows():  ## per race
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    print(regName, raceName, end = '\r')
    
    
    
    sql = """
    SELECT * from legs
    where race_id = {}
    and leg_nr = 1
    """.format(race_id)
    legs = pd.read_sql(sql, engine)
    
    for idx, leg in legs.iterrows():  ## per leg
        leg_nr = leg.leg_nr
        print(leg_nr, end = '\r')
        
        sql = """
        SELECT TOP(1) * from positions
        where leg_nr = {}
         and race_id = {}
        """.format(leg_nr, race_id)
        check = pd.read_sql(sql, engine)
        if check.empty:
            print('No positions available')
            continue
            
        if not check.iloc[0]['rel_spd-kts'] is None:
            print('already updated')
            continue

        sql = """
        SELECT race_id, comp_id, leg_nr, [competitor_averageSOG-kts] from comp_leg
        where race_id = {}
        and leg_nr = {}
        """.format( race_id, leg_nr)
        df = pd.read_sql(sql, engine)
        avg_spd = df['competitor_averageSOG-kts'].mean()
        
        if isnan(avg_spd):
            continue
            
        sql = """
        UPDATE legs
        SET avg_spd = {}
        WHERE race_id = {}
        and leg_nr = {}
        """.format(avg_spd, race_id, leg_nr)
        cursor.execute(sql)
        cursor.commit()
        
        print('update positions {}'.format(leg_nr), end = '\r')
        sql = """
        UPDATE positions
        set [rel_spd-kts] = [speed-kts]/{}
        where leg_nr = {}
        and race_id = {}
        """.format(avg_spd, leg_nr, race_id)
        cursor.execute(sql)
        cursor.commit()
        
    print('Succesfuly updated {} {}'.format(raceName, regName))

already updatedser Radial R4 (Laser Radial)
Succesfuly updated R4 (Laser Radial) Tokyo 2019 - Laser Radial
already updatedser Radial R5 (Laser Radial)
Succesfuly updated R5 (Laser Radial) Tokyo 2019 - Laser Radial
already updatedser Radial R6 (Laser Radial)
Succesfuly updated R6 (Laser Radial) Tokyo 2019 - Laser Radial
already updatedser Radial R2 (Laser Radial)
Succesfuly updated R2 (Laser Radial) Tokyo 2019 - Laser Radial
already updatedser Radial R3 (Laser Radial)
Succesfuly updated R3 (Laser Radial) Tokyo 2019 - Laser Radial
already updatedser Radial R7 (Laser Radial)
Succesfuly updated R7 (Laser Radial) Tokyo 2019 - Laser Radial
already updatedser Radial R8 (Laser Radial)
Succesfuly updated R8 (Laser Radial) Tokyo 2019 - Laser Radial
Succesfuly updated R9 (Laser Radial) Tokyo 2019 - Laser Radial
Succesfuly updated R10 (Laser Radial) Tokyo 2019 - Laser Radial
Succesfuly updated R1 (Laser Radial) Tokyo 2019 - Laser Radial
Succesfuly updated R6 (49er) Tokyo 2019 - 49er
Succesfuly updated R7 (49er) Tokyo 2019 - 49er
Succesfuly updated R8 (49er) Tokyo 2019 - 49er
Succesfuly updated R9 (49er) Tokyo 2019 - 49er
Succesfuly updated R2 (49er) Tokyo 2019 - 49er
Succesfuly updated R3 (49er) Tokyo 2019 - 49er
Succesfuly updated R4 (49er) Tokyo 2019 - 49er
Succesfuly updated R5 (49er) Tokyo 2019 - 49er
Succesfuly updated R1 (49er) Tokyo 2019 - 49er
Succesfuly updated R13 Medal (49er) Tokyo 2019 - 49er
Succesfuly updated R10 (49er) Tokyo 2019 - 49er
Succesfuly updated R11 (49er) Tokyo 2019 - 49er
Succesfuly updated R12 (49er) Tokyo 2019 - 49er
Succesfuly updated R6 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R7 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R8 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R2 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R3 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R4 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R5 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R9 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R10 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R11 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R12 Medal (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R1 (RS:X Women) Tokyo 2019 - RS:X Women
Succesfuly updated R4 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R5 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R6 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R2 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R3 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R7 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R8 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R9 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R10 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R1 (Laser Int.) Tokyo 2019 - Laser
Succesfuly updated R6 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R7 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R8 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R9 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R2 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R3 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R4 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R5 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R1 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R13 Medal (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R10 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R11 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R12 (49erFX) Tokyo 2019 - 49er FX
Succesfuly updated R4 (Finn) Tokyo 2019 - Finn
Succesfuly updated R5 (Finn) Tokyo 2019 - Finn
Succesfuly updated R6 (Finn) Tokyo 2019 - Finn
Succesfuly updated R2 (Finn) Tokyo 2019 - Finn
Succesfuly updated R3 (Finn) Tokyo 2019 - Finn
Succesfuly updated R7 (Finn) Tokyo 2019 - Finn
Succesfuly updated R8 (Finn) Tokyo 2019 - Finn
Succesfuly updated R9 (Finn) Tokyo 2019 - Finn
Succesfuly updated R10 (Finn) Tokyo 2019 - Finn
Succesfuly updated R1 (Finn) Tokyo 2019 - Finn
Succesfuly updated R5 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R6 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R7 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R2 (RS:X men) Tokyo 2019 - RS:X Men
Succesfuly updated R3 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R4 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R8 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R9 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R10 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R11 Medal (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R1 (RS:X Men) Tokyo 2019 - RS:X Men
Succesfuly updated R11 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R12 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R6 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R7 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R8 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R9 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R2 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R3 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R4 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R5 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R1 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R13 Medal (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R10 (Nacra 17) Tokyo 2019 - Nacra 17
Succesfuly updated R4 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R5 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R6 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R2 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R3 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R1 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R9 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R10 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R7 (470 Men) Tokyo 2019 - 470 Men
Succesfuly updated R8 (470 Men) Tokyo 2019 - 470 Men

## positions_view

In [ ]:
CREATE View positions_view
WITH SCHEMABINDING
AS 
SELECT
    rc.race_id,
    l.leg_nr,
    p.comp_id,
    timepoint_ms,
    [lat-deg],
	[lng-deg]
	,[speed-kts]
	,[truebearing-deg]
    , [rel_spd-kts]
FROM
    dbo.positions p
--INNER JOIN dbo.race_comp c
--    ON c.comp_id = p.comp_id
--	 and c.race_id = p.race_id
INNER JOIN dbo.legs l
	ON l.leg_nr = p.leg_nr
	and l.race_id = p.race_id
INNER JOIN dbo.races rc 
    ON rc.race_id = l.race_id
WHERE l.leg_nr = 1
 and p.timepoint_ms % 20000 = 0
 and (rc.regatta LIKE  '%HWCS 2020 Round 1%' 
	or rc.regatta LIKE  '%Tokyo%'  
	or rc.regatta LIKE  '%Enoshima%'  
	 ;
        
CREATE UNIQUE CLUSTERED INDEX idx on dbo.positions_view (leg_nr, race_id, comp_id, timepoint_ms);

CREATE NONCLUSTERED INDEX 
    idx_regatta
ON dbo.positions_view(race_id);

## Calculate Correlations

In [ ]:
## not yet right for other legs then 1, because avg side needs to be calculated first

    
for indx, row in raceSelection.iterrows():
    regName = row.regatta
    raceName = row.race
    race_id = idToText(row.race_id)
    print(regName, raceName, end = '\r')

    stop = 0
    sql = """
    SELECT * from legs
    where leg_nr = 1
        AND race_id = {}
        """.format(race_id)

    legs = pd.read_sql(sql, engine)
    for index, row in legs.iterrows():
        
        sql = """
        SELECT comp_leg.*
                , race_comp.pos_startline_abs_x
                , race_comp.pos_startline_abs_y
                ,race_comp.pos_startline_rel 
                    from comp_leg INNER JOIN race_comp
        ON race_comp.race_id = comp_leg.race_id
            and race_comp.comp_id = comp_leg.comp_id          
        WHERE comp_leg.race_id = {}
        and comp_leg.leg_nr = {}
        """.format( race_id,
                    row['leg_nr'])

        df = pd.read_sql(sql, engine)
        correlations = df.corr()
        try:
            corrs = correlations.rel_rank.replace(np.nan, "NULL", regex=True)  ### replace NaN's by NULL so they can be updated in the sql df

            corrs_side = correlations.avg_side
        except AttributeError as a:
            print('Attribute Error: {} for {} {}'.format(a, regName, raceName))
        try:
            cursor.execute("""
            UPDATE legs
            SET    legs.correlation_tacks = {}
                  ,legs.correlation_side = {}
                  ,legs.correlation_avgSOG = {}
                  ,legs.correlation_traveledDistance = {}
                  ,legs.correlation_jibes = {}
                  ,legs.pos_startline_abs_x = {}
                  ,legs.pos_startline_abs_y = {}
                  ,legs.pos_startline_rel = {}
                  ,legs.cor_side_pos_startline_abs = {}
                  ,legs.cor_side_pos_startline_rel = {}
            WHERE
            race_id = {}
            and leg_nr = '{}'
              """.format(corrs['competitor_tacks'],
                         corrs['avg_side'],
                         corrs['competitor_averageSOG-kts'],
                         corrs['competitor_distanceTraveled-m'],
                         corrs['competitor_jibes'], 
                         corrs['pos_startline_abs_x'], 
                         corrs['pos_startline_abs_y'], 
                         corrs['pos_startline_rel'],  
                         corrs_side.pos_startline_abs_x,
                         corrs_side.pos_startline_rel,
                         race_id,
                         row['leg_nr']))        
        except KeyError as e:
            print('Key Error: {} for {} {}'.format(e, regName, raceName))
            stop = 1
        cursor.commit()
        print('{} {} Succesfull'.format(regName, raceName))

In [ ]:
sql = """
SELECT * from legs 
where pos_startline_abs_x IS NULL and
correlation_side is not null
and leg_nr = 1

"""
df = pd.read_sql(sql, con = engine)
df

# Extra

## Usefull other queries

In [ ]:
cursor.execute("""

USE nerinedatabase;
EXEC sp_spaceused;
""")

In [ ]:
cursor.execute("""
DROP INDEX idx ON positions;
CREATE UNIQUE CLUSTERED INDEX idx ON positions (regatta, race, comp_id, timepoint_ms ASC);

""")

In [ ]:
# info over indeces
EXEC sp_helpindex '[[[SCHEMA-NAME.TABLE-NAME]]]'
GO

## snelle manier om aantal rijen in tabel te krijgen
DECLARE @TableName sysname
SET @TableName = 'positions'
 
SELECT OBJECT_NAME(object_id), SUM(row_count) AS rows
FROM sys.dm_db_partition_stats
WHERE object_id = OBJECT_ID(@TableName)
AND index_id < 2
GROUP BY OBJECT_NAME(object_id);