In [8]:
###############################
## Tabellen vullen
###############################
import os, sys, inspect, json
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.append(parentdir)
from lib.Utilities.globalVar import *
import lib.TransformData.combineData as combd
import Download.download as download
from Utilities.converter import *

currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.append(parentdir)
import urllib
from sqlalchemy import *
from sqlalchemy.exc import IntegrityError, InternalError
from sqlalchemy.types import BINARY, VARCHAR
import pandas as pd
import numpy as np
from math import *


import pyodbc


from sqlalchemy.types import TypeDecorator, CHAR
from sqlalchemy.dialects.postgresql import UUID
import uuid

In [9]:

server = 'sic-match-analysis.database.windows.net'
database = 'match-analysis'
username = 'sic-admin'
password = 'ZeilenIsLeuk!'
driver= '{ODBC Driver 17 for SQL Server}'
connection_str = 'DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password


cnxn = pyodbc.connect(connection_str)
cursor = cnxn.cursor()

quoted = urllib.parse.quote_plus(connection_str)
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

from sqlalchemy import event

@event.listens_for(engine, 'before_cursor_execute')
def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
    if executemany:
        cursor.fast_executemany = True
        cursor.commit()

In [10]:
## Lukt niet om met bulk insert vanaf locale dir bestanden up te loaden :( dus moet via pandas to_sql
# cursor.execute("""
# BULK INSERT regattas
# FROM '\\usman-ess/Folder Redirection/Nerine/Documents/TU_Delft/2_Master/3_Stage/2_Code/SAPDataAnalysis/data/raw/tokyo2019'
# """)
event  = [{'name' :  'hwcs2020-round1', 'AllRegattas': True, 'regattaNameContaining': '', 'raceNameContaining': ''}
         ,{'name' : 'www', 'AllRegattas' : False, 'regattaNameContaining': 'Enoshima', 'raceNameContaining': ''}
         ]
event = [{'name' :  'tokyo2019', 'AllRegattas': True, 'regattaNameContaining': '', 'raceNameContaining': ''}]
eventSelection = event
parentdir

'X:\\TU_Delft\\2_Master\\3_Stage\\2_Code\\SAPDataAnalysis'

In [11]:
## TABLE 1 regattas
for serv in eventSelection:
    filepath = parentdir + '/' +  outdirbase + serv['name'] + '/regattas'
    with open(filepath + '.json') as json_file:
        print('file extracted: ', filepath)
        data = json.load(json_file)
    cd = combd.combineData(serv)
    df = cd.transformJsonToPD(data, 'regattas')
    serv['regattas'] = df
    try:
        df.to_sql('regattas', con = engine, index = False, if_exists = 'append')
        print('Succesfully added regattas of {} to the database'.format(serv['name']))
    except IntegrityError as e:
        print('Could not add regattas of {} to the database because of IntegrityError: {}'.format(serv['name'], e))

file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/tokyo2019/regattas
Could not add regattas of tokyo2019 to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - 49er). (2627) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - Laser). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - RS:X Women). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - 49er FX). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Toyko 2019 - 470 Women). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - Laser Radial). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - 470 Men). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - RS:X Men). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - Finn). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__regattas__B87EB5247FB8C6A6'. Cannot insert duplicate key in object 'dbo.regattas'. The duplicate key value is (Tokyo 2019 - Nacra 17). (2627); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO regattas (regatta, boatclass, [courseAreaId]) VALUES (?, ?, ?)]
[parameters: (('Tokyo 2019 - 49er', '49er', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - Laser', 'Laser Int.', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - RS:X Women', 'RS:X', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - 49er FX', '49erFX', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Toyko 2019 - 470 Women', '470', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - Laser Radial', 'Laser Radial', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - 470 Men', '470', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - RS:X Men', 'RS:X', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - Finn', 'Finn', 'c55f9973-28d3-4769-b678-48ffd685c47c'), ('Tokyo 2019 - Nacra 17', 'Nacra 17', 'c55f9973-28d3-4769-b678-48ffd685c47c'))]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [5]:
# TABLE 2 races columns; 
# regatta
# race
# raceShort
# raceId
# maxWindSpd_kts
# minWindSpd_kts
# avgWindDir_deg
# firstlegbearing_deg

# coming from races, windsummary and firstlegbearing
filenames = ['races', 'windsummary', 'firstlegbearing']

for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        directory_regatta = parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                            webAddressToFilename(regattaLoc(regName))
        filepath = directory_regatta + 'races.json'
        with open(filepath) as json_file:
            print('file extracted: ', filepath)
            data = json.load(json_file)
        dic_data = {'regatta': regName, 'data': data}
        races = cd.transformJsonToPD(dic_data, 'races')
        
        
        filepath = directory_regatta + 'windsummary.json'
        with open(filepath) as json_file:
            print('file extracted: ', filepath)
            data = json.load(json_file)
        dic_data = {'regatta': regName, 'data': data}
        windsummary = cd.transformJsonToPD(dic_data, 'windsummary').set_index(['regatta', 'raceShort'])   
        
        flb = []
        for index, race in races.iterrows():
            directory_race = parentdir + '/' + outdirbase +serv['name'] + \
                             webAddressToFilename(raceLoc(regName, race['race']))
            filepath = directory_race + 'firstlegbearing.json'
            with open(filepath) as json_file:
#                 print('file extracted: ', filepath)
                data = json.load(json_file)
            dic_data = {'regatta': regName, 'race': race['race'], 'data': data}
            firstlegbearing = cd.transformJsonToPD(dic_data, 'firstlegbearing') 
            flb.append(firstlegbearing)
        flb = pd.concat(flb).set_index(['regatta', 'race'])
        
    
        races = races.set_index(['regatta','raceShort'])
        result = pd.concat([races, windsummary], axis=1, join='outer').reset_index().set_index(['regatta', 'race'])
        result = pd.concat([result, flb], axis=1, join='outer').reset_index()
        
#         print('with as result', result)
        
        try:
            result.to_sql('races', con = engine, index = False, if_exists = 'append')
            print('Succesfully added races of {} {} to the database'.format(regName, race['race']))
        except IntegrityError as e:
            print('Could not add races of {} {} to the database because of IntegrityError: {}'.format(regName,race['race'],e))

file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Laser/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Laser/windsummary.json
Could not add races of HWCS 2020 Round 1 - Laser R10 (Laser Standard) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Laser, M Medal (Laser Standard)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - Laser', 'M Medal (Laser Standard)', 'M', b'\xf2\xde\xb2@\xaep\x017$/\x06w?\x91rv', None, None, None, 201.8756694111979), ('HWCS 2020 Round 1 - Laser', 'R08 (Laser Standard)', 'R8', b'\xc5(]\x10\xad\x9f\x017\x13\x92\x06w?\x91rv', 9.760961003571804, 15.169727592193276, 188.65828327561502, 196.878249479173), ('HWCS 2020 Round 1 - Laser', 'R09 (Laser Standard)', 'R9', b'\xbbk\xbf\xb0\xad\xb8\x017\x16\x1f\x06w?\x91rv', 16.116512638540367, 18.87180805045177, 194.73067666149876, 212.43176178325245), ('HWCS 2020 Round 1 - Laser', 'R1 (Laser Standard)', 'R1', b'Z\xd6\xa9\xa0\xa9\xf8\x017\xb8Q\x06w?\x91rv', 6.068578535801367, 6.854241943199984, 191.20662377171436, 197.11710745651703), ('HWCS 2020 Round 1 - Laser', 'R10 (Laser Standard)', 'R10', b'\xbe\xc83\xc0\xad\xb8\x017\x16\x8e\x06w?\x91rv', 15.083029942404398, 17.16300421473712, 192.31644810973256, 203.91237863735304), ('HWCS 2020 Round 1 - Laser', 'R2 (Laser Standard)', 'R2', b'\xf7\xe5@\xf0\xaa\x95\x017\xc1\xff\x06w?\x91rv', 7.626596494443658, 8.516422594884082, 196.6919243473951, 207.98432506967043), ('HWCS 2020 Round 1 - Laser', 'R3 (Laser Standard)', 'R3', b'\xe4\x0e\xd9@\xac\r\x017\xe2!\x06w?\x91rv', 14.352366862171444, 15.553882174832859, 205.3833298408476, 213.52890359988015), ('HWCS 2020 Round 1 - Laser', 'R4 (Laser Standard)', 'R4', b':\xdb\xb3\xd0\xac$\x017\xe4\xf5\x06w?\x91rv', 16.497655957831107, 19.07334532877216, 204.8558840200543, 214.7166773635503)  ... displaying 10 of 11 total bound parameter sets ...  ('HWCS 2020 Round 1 - Laser', 'R6 (Laser Standard)', 'R6', b'\xa1\x01!\x10\xac\xdd\x017\xfc\xaa\x06w?\x91rv', 14.170130671396644, 19.92029087537453, 205.19652476198294, 209.492731375159), ('HWCS 2020 Round 1 - Laser', 'R7 (Laser Standard)', 'R7', b'(\x0e\x810\xac\xf1\x017\x02\x91\x06w?\x91rv', 13.030214537539514, 15.781867980417239, 200.41050424558244, 213.5398411983226))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Laser Radial/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Laser Radial/windsummary.json
Could not add races of HWCS 2020 Round 1 - Laser Radial M Medal (Laser Radial) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Laser Radial, M Medal (Laser Radial)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - Laser Radial', 'M Medal (Laser Radial)', 'M', b'\xf3\xcf\xb6\x10\xaep\x017$;\x06w?\x91rv', None, None, None, 200.39636015701376), ('HWCS 2020 Round 1 - Laser Radial', 'R08 (Laser Radial)', 'R8', b'\xc6\xf9(`\xad\x9f\x017\x13\xc7\x06w?\x91rv', 9.317416888136336, 15.38923998215268, 179.1440939168624, 196.551292072582), ('HWCS 2020 Round 1 - Laser Radial', 'R09 (Laser Radial)', 'R9', b'\x9eW\xc4@\xad\xb8\x017\x15I\x06w?\x91rv', 14.493414866578094, 17.387664272582512, 197.10211703396794, 211.85089979575218), ('HWCS 2020 Round 1 - Laser Radial', 'R1 (Laser Radial)', 'R1', b'[\xe3\xea\xd0\xa9\xf8\x017\xb8\xb8\x06w?\x91rv', 6.600585663398604, 7.524185637646241, 194.84474354930228, 197.32251529950761), ('HWCS 2020 Round 1 - Laser Radial', 'R10 (Laser Radial)', 'R10', b'\xa1\x9d8`\xad\xb8\x017\x15\xb4\x06w?\x91rv', 16.726007910179675, 18.979026430455672, 192.82049473030148, 203.4692633464449), ('HWCS 2020 Round 1 - Laser Radial', 'R2 (Laser Radial)', 'R2', b'\xe8\xa5\xc2\xc0\xaa\x95\x017\xc1\x94\x06w?\x91rv', 7.020938661407069, 7.936600504793066, 197.31371519023105, 207.82445766689463), ('HWCS 2020 Round 1 - Laser Radial', 'R3 (Laser Radial)', 'R3', b'\xe53\xfe\xc0\xac\r\x017\xe2V\x06w?\x91rv', 15.774185430431478, 17.74044706797627, 200.4012820946951, 212.7598005651812), ('HWCS 2020 Round 1 - Laser Radial', 'R4 (Laser Radial)', 'R4', b'T2mP\xac$\x017\xe5\xd3\x06w?\x91rv', 16.057086522437913, 18.022435683699992, 206.3131003442444, 213.75749185789107)  ... displaying 10 of 11 total bound parameter sets ...  ('HWCS 2020 Round 1 - Laser Radial', 'R6 (Laser Radial)', 'R6', b'\xa2\x95\x9c\x80\xac\xdd\x017\xfc\xdf\x06w?\x91rv', 14.567046629474794, 18.02682004086606, 201.3886095644477, 210.45377867824558), ('HWCS 2020 Round 1 - Laser Radial', 'R7 (Laser Radial)', 'R7', b'\r#;P\xac\xf1\x017\x01\xbb\x06w?\x91rv', 15.656290709056806, 17.981248324329698, 196.12903199713412, 212.84296625255644))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 49erFX/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 49erFX/windsummary.json
Could not add races of HWCS 2020 Round 1 - 49erFX R5 (49FX) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49erFX, M Medal (49FX)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49erFX, R1(49FX)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49erFX, R2(49FX)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49erFX, R3 (49FX)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49erFX, R4 (49FX)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49erFX, R5 (49FX)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - 49erFX', 'M Medal (49FX)', 'M', b'\x9c\xef \x00\xad\x9f\x017\x13)\x06w?\x91rv', 14.241826136357902, 15.228415118725632, 199.16688161247413, 195.24538511526316), ('HWCS 2020 Round 1 - 49erFX', 'R1(49FX)', 'R1', b'{\x90\x850\xa9\xf8\x017\xba>\x06w?\x91rv', 6.7322383972475635, 7.401181844257723, 194.27503454681414, 195.56660670475222), ('HWCS 2020 Round 1 - 49erFX', 'R2(49FX)', 'R2', b'\xc5\xdd^P\xaa\x9f\x017\xc5\xa7\x06w?\x91rv', 7.417059918608889, 7.859033048959676, 206.93719668734875, 199.679789564087), ('HWCS 2020 Round 1 - 49erFX', 'R3 (49FX)', 'R3', b'\xa4\xde\x92@\xac\r\x017\xe1~\x06w?\x91rv', 15.266533404021958, 16.256064897378906, 211.0516338144557, 207.22278231631458), ('HWCS 2020 Round 1 - 49erFX', 'R4 (49FX)', 'R4', b':\xc8\xb3\xd0\xac)\x017\xe9\x17\x06w?\x91rv', 15.300228464290857, 18.698763385459266, 214.1993534406296, 213.29524741210525), ('HWCS 2020 Round 1 - 49erFX', 'R5 (49FX)', 'R5', b'W\x8c\xc2\x90\xac)\x017\xe9f\x06w?\x91rv', 19.173902151810857, 19.405461740517147, 213.7757003513041, 217.19548485175838))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Nacra 17/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Nacra 17/windsummary.json

Could not add races of HWCS 2020 Round 1 - Nacra 17 M Medal (Nacra 17) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Nacra 17, M Medal (Nacra 17)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Nacra 17, R1 (Nacra 17)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Nacra 17, R2 (Nacra 17)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Nacra 17, R3 (Nacra 17)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Nacra 17, R4 (Nacra 17)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Nacra 17, R5 (Nacra 17)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - Nacra 17', 'M Medal (Nacra 17)', 'M', b'\x9d\x90\xda\xa0\xad\x9f\x017\x135\x06w?\x91rv', 13.363377412599446, 15.224914792442485, 194.9871081200929, 178.55113239699887), ('HWCS 2020 Round 1 - Nacra 17', 'R1 (Nacra 17)', 'R1', b'|yip\xa9\xf8\x017\xba\x85\x06w?\x91rv', 6.509702726508971, 7.071067986376682, 196.93223352353343, 195.4222669882241), ('HWCS 2020 Round 1 - Nacra 17', 'R2 (Nacra 17)', 'R2', b'\xaey\xd9\x10\xaa\x96\x017\xc2\xa8\x06w?\x91rv', 6.687237608633395, 6.9755029914450075, 207.6133052977044, 208.57088364259272), ('HWCS 2020 Round 1 - Nacra 17', 'R3 (Nacra 17)', 'R3', b'\xa3\xef\x91\x00\xac\r\x017\xe1\\\x06w?\x91rv', 15.556254861405199, 16.301528016944705, 209.33182086559373, 216.11431797967515), ('HWCS 2020 Round 1 - Nacra 17', 'R4 (Nacra 17)', 'R4', b'\x1d\x8fq\xf0\xac&\x017\xe82\x06w?\x91rv', 13.758671862586137, 17.447053672410036, 215.64811754833886, 218.18739181431945), ('HWCS 2020 Round 1 - Nacra 17', 'R5 (Nacra 17)', 'R5', b'\x1f{\xbc\x90\xac&\x017\xe8{\x06w?\x91rv', 18.743711208498294, 19.64757916293514, 218.05202675512072, 225.16188246182932))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 470 Men/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 470 Men/windsummary.json
Could not add races of HWCS 2020 Round 1 - 470 Men R09 (470 Men) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, M Medal (470 Men)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R08 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R09 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R1 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R10 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R2 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R3 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R4 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R5 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R6 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Men, R7 (470 Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - 470 Men', 'M Medal (470 Men)', 'M', b'\xd5\xc55\xc0\xaep\x017$\x0b\x06w?\x91rv', 4.341313462154183, 5.757450491581573, 188.4226560487184, 202.58306736848994), ('HWCS 2020 Round 1 - 470 Men', 'R08 (470 Men)', 'R8', b'\x9e\xd0\xf4\xc0\xad\x9f\x017\x13A\x06w?\x91rv', 10.465600861387909, 14.730761794695415, 192.71509196071358, 194.5053855235913), ('HWCS 2020 Round 1 - 470 Men', 'R09 (470 Men)', 'R9', b'\x11Q\x13\x00\xad\xb9\x017\x17\x15\x06w?\x91rv', 16.267880339676296, 19.027862944889044, 202.08038778709027, 203.9264838221731), ('HWCS 2020 Round 1 - 470 Men', 'R1 (470 Men)', 'R1', b'y\x13\x9c@\xa9\xf8\x017\xb9~\x06w?\x91rv', 6.8498833325877655, 7.645157995715116, 204.0949910027705, 197.40561719405048), ('HWCS 2020 Round 1 - 470 Men', 'R10 (470 Men)', 'R10', b'\x13\x80\x06\xc0\xad\xb9\x017\x17^\x06w?\x91rv', 11.815879211324239, 20.391533586914523, 208.6636352728349, 213.94699146557036), ('HWCS 2020 Round 1 - 470 Men', 'R2 (470 Men)', 'R2', b'\xa2f\x0e \xac\r\x017\xe1#\x06w?\x91rv', 14.382528883907861, 17.149356326701348, 213.07287800972537, 213.31395961345646), ('HWCS 2020 Round 1 - 470 Men', 'R3 (470 Men)', 'R3', b'\xf1J\x8c@\xac!\x017\xe3\xef\x06w?\x91rv', 18.526403950280365, 19.65927893129515, 217.0738217205696, 213.57865683913465), ('HWCS 2020 Round 1 - 470 Men', 'R4 (470 Men)', 'R4', b'\xf35\xad\xb0\xac!\x017\xe48\x06w?\x91rv', 16.107919711610094, 19.799974959057142, 213.70376725439542, 213.7691857081261)  ... displaying 10 of 11 total bound parameter sets ...  ('HWCS 2020 Round 1 - 470 Men', 'R6 (470 Men)', 'R6', b'\x8ae\xe8\x00\xac\xf1\x017\x04\xdf\x06w?\x91rv', 13.914993886472907, 14.979381603300444, 202.4429614042666, 210.70520131665594), ('HWCS 2020 Round 1 - 470 Men', 'R7 (470 Men)', 'R7', b'\x8ca\x1a\x90\xac\xf1\x017\x05(\x06w?\x91rv', 10.950038632633195, 15.54925834892002, 187.3745850594797, 210.2601287959377))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - RS__X Men/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - RS__X Men/windsummary.json

Could not add races of HWCS 2020 Round 1 - RS:X Men R4 (RSX Men) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, M Medal (RSX Men)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R1 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R10 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R11 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R12 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R2 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R3 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R4 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R5 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R6 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R7 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R8 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Men, R9 (RSX Men)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - RS:X Men', 'M Medal (RSX Men)', 'M', b'\xc3\x82W\xd0\xad\x9f\x017\x13\x86\x06w?\x91rv', 16.26950428453527, 17.261952617466747, 190.41257741266543, 105.67946145731537), ('HWCS 2020 Round 1 - RS:X Men', 'R1 (RSX Men)', 'R1', b'\\\xd0\xef\xe0\xa9\xf8\x017\xb9\x0b\x06w?\x91rv', 7.143500779012165, 7.193958206123438, 197.80462075893297, 197.6945723884045), ('HWCS 2020 Round 1 - RS:X Men', 'R10 (RSX Men)', 'R10', b'\x9eZ\x88\xb0\xac\xdd\x017\xfco\x06w?\x91rv', 15.306013694121685, 19.57520521444962, 212.87666726504722, 214.67710696967976), ('HWCS 2020 Round 1 - RS:X Men', 'R11 (RSX Men)', 'R11', b'Z\\gP\xac\xf0\x017\x00\xb1\x06w?\x91rv', 14.685908358044768, 15.861690365440758, 199.65195358083588, 214.37331879838942), ('HWCS 2020 Round 1 - RS:X Men', 'R12 (RSX Men)', 'R12', b'\\G\xb3\xf0\xac\xf0\x017\x00\xf7\x06w?\x91rv', 13.673994558759073, 15.621715375088762, 201.2706063324601, 196.98956283325563), ('HWCS 2020 Round 1 - RS:X Men', 'R2 (RSX Men)', 'R2', b'\x11\x1e_\xe0\xaa\x9f\x017\xc4\x87\x06w?\x91rv', 6.277841307365526, 7.463993736117095, 210.12775627823754, 204.68812947012088), ('HWCS 2020 Round 1 - RS:X Men', 'R3 (RSX Men)', 'R3', b'+\xc0\xa1`\xaa\xa1\x017\xc5\xf6\x06w?\x91rv', 7.779556140061104, 8.307040484493033, 194.02723570345793, 206.54262372626775), ('HWCS 2020 Round 1 - RS:X Men', 'R4 (RSX Men)', 'R4', b'Qj\xcb\xe0\xabC\x017\xd2\x01\x06w?\x91rv', 17.560145544747467, 21.033064603058797, 215.0695654922839, 211.83789051631965)  ... displaying 10 of 13 total bound parameter sets ...  ('HWCS 2020 Round 1 - RS:X Men', 'R8 (RSX Men)', 'R8', b'\xce\x03\xb4\x00\xac$\x017\xe6\xb5\x06w?\x91rv', 14.214068959544049, 16.212094752176302, 212.16200794509479, 214.699003223205), ('HWCS 2020 Round 1 - RS:X Men', 'R9 (RSX Men)', 'R9', b'\xcf\xd8\xfd\xe0\xac$\x017\xe6\xfb\x06w?\x91rv', 14.85454949756658, 18.387049976475947, 211.47667924172447, 224.1474831759896))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Finn/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Finn/windsummary.json
Could not add races of HWCS 2020 Round 1 - Finn R7 (FINN) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - Finn, M Medal (FINN)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - Finn', 'M Medal (FINN)', 'M', b'\xf1\xe9\xfe\x80\xaep\x017$#\x06w?\x91rv', None, None, None, 173.93574439916267), ('HWCS 2020 Round 1 - Finn', 'R08 (FINN)', 'R8', b'\xc8BJ\x10\xad\x9f\x017\x13\xfa\x06w?\x91rv', 8.249141075121994, 13.235964003377042, 179.493487998992, 170.21980094532472), ('HWCS 2020 Round 1 - Finn', 'R09 (FINN)', 'R9', b'\xfbKh\xf0\xad\xb9\x017\x18&\x06w?\x91rv', 13.582467392156632, 16.351659706854942, 197.67528244714822, 192.63731117187533), ('HWCS 2020 Round 1 - Finn', 'R1 (FINN)', 'R1', b'Y\xd9\xd0 \xa9\xf8\x017\xb8\x02\x06w?\x91rv', 7.132536167915341, 7.4117680680726945, 201.5652489440854, 204.26280775072274), ('HWCS 2020 Round 1 - Finn', 'R10 (FINN)', 'R10', b'\xfc\xf7\xde\x80\xad\xb9\x017\x18b\x06w?\x91rv', 18.201021099031667, 19.696389985945693, 207.91405396280072, 204.4514159439333), ('HWCS 2020 Round 1 - Finn', 'R2 (FINN)', 'R2', b'U(\xa8@\xabC\x017\xd2\xa4\x06w?\x91rv', 18.39717089456954, 21.511417222197725, 208.82434033253878, 232.1737145908104), ('HWCS 2020 Round 1 - Finn', 'R3 (FINN)', 'R3', b'\xe2\xf6\x87 \xac\r\x017\xe2\x06\x06w?\x91rv', 15.314099404406091, 16.038802646235006, 202.72305593551977, 202.4756106485677), ('HWCS 2020 Round 1 - Finn', 'R4 (FINN)', 'R4', b'\xef\xf3\x830\xac%\x017\xe7\xbe\x06w?\x91rv', 15.694763142377994, 19.265124333440657, 214.3443788516695, 207.6423042471951)  ... displaying 10 of 11 total bound parameter sets ...  ('HWCS 2020 Round 1 - Finn', 'R6 (FINN)', 'R6', b'\xa3\xbb\xc3\xf0\xac\xdd\x017\xfd\x12\x06w?\x91rv', 15.57102971885965, 18.832463997412855, 206.3427601837764, 205.9620288184515), ('HWCS 2020 Round 1 - Finn', 'R7 (FINN)', 'R7', b'[\xc8\x07\xc0\xac\xf1\x017\x03~\x06w?\x91rv', 16.10893906370693, 17.496425380387272, 205.00324841730654, 193.6426414426129))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - RS__X Women/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - RS__X Women/windsummary.json

Could not add races of HWCS 2020 Round 1 - RS:X Women R8 (RSX Women) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, M Medal (RSX Women)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R1 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R10 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R2 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R3 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R4 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R5 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R6 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R7 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R8 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - RS:X Women, R9 (RSX Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - RS:X Women', 'M Medal (RSX Women)', 'M', b'\xc2rkP\xad\x9f\x017\x13z\x06w?\x91rv', 17.98670410986146, 19.23841625570889, 198.94156506877573, 105.83143880546214), ('HWCS 2020 Round 1 - RS:X Women', 'R1 (RSX Women)', 'R1', b'w\xdc\x07 \xaa\x9f\x017\xc5\x1e\x06w?\x91rv', 6.654157079479613, 8.2949726314785, 204.33236891605077, 197.04745343374708), ('HWCS 2020 Round 1 - RS:X Women', 'R10 (RSX Women)', 'R10', b'qN\xc6\xc0\xac\xf0\x017\x01=\x06w?\x91rv', 13.248843931254072, 17.625075901660423, 210.69934771078886, 204.2896568937401), ('HWCS 2020 Round 1 - RS:X Women', 'R2 (RSX Women)', 'R2', b']\xad~@\xa9\xf8\x017\xb9D\x06w?\x91rv', 7.5435127881658355, 7.674334671762491, 205.50372242463033, 217.1252467160503), ('HWCS 2020 Round 1 - RS:X Women', 'R3 (RSX Women)', 'R3', b'EV\xcap\xaa\xa1\x017\xc6\xdc\x06w?\x91rv', 7.853837918796849, 9.991717924371857, 193.69601062488871, 196.71534543340454), ('HWCS 2020 Round 1 - RS:X Women', 'R4 (RSX Women)', 'R4', b'SaD\xd0\xabC\x017\xd2W\x06w?\x91rv', 15.73383688114632, 17.2607156456859, 202.3469429448956, 204.78775076670146), ('HWCS 2020 Round 1 - RS:X Women', 'R5 (RSX Women)', 'R5', b'_\x84\xaf\xf0\xab^\x017\xd7\xba\x06w?\x91rv', 17.869174034764118, 19.79963268254954, 215.87139336540253, 222.72292038839555), ('HWCS 2020 Round 1 - RS:X Women', 'R6 (RSX Women)', 'R6', b'\xe27\xe50\xac\r\x017\xe1\xec\x06w?\x91rv', 18.025626826602245, 19.99470336662182, 210.61222254683946, 219.6526294774724)  ... displaying 10 of 11 total bound parameter sets ...  ('HWCS 2020 Round 1 - RS:X Women', 'R8 (RSX Women)', 'R8', b'\xed\xf7 \xc0\xac$\x017\xe7y\x06w?\x91rv', 14.958629700052853, 17.251345619865198, 203.53135099791865, 214.78179163018163), ('HWCS 2020 Round 1 - RS:X Women', 'R9 (RSX Women)', 'R9', b'\x9f\x89\xe0@\xac\xdd\x017\xfc\x90\x06w?\x91rv', 15.180105249827555, 16.68490427186934, 200.53032988610704, 210.2313072557339))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 49er/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 49er/windsummary.json
Could not add races of HWCS 2020 Round 1 - 49er R2 (49ER) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, M Medal (49ER)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R1 (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R2 (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R3 (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R4 (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R5  (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R6 (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 49er, R7 (49ER)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - 49er', 'M Medal (49ER)', 'M', b'\x9cE\xbe`\xad\x9f\x017\x13\x1d\x06w?\x91rv', 18.319278553658172, 19.342159121556037, 199.89675497708436, 197.96471051470726), ('HWCS 2020 Round 1 - 49er', 'R1 (49ER)', 'R1', b'z\xa6\xdbp\xa9\xf8\x017\xb9\xf2\x06w?\x91rv', 6.698068638301591, 7.289059861793165, 192.30363575786836, 195.81558530874995), ('HWCS 2020 Round 1 - 49er', 'R2 (49ER)', 'R2', b'\xb1\xcc\xaa@\xaa\x9f\x017\xc5V\x06w?\x91rv', 6.628045606622378, 8.014449306178003, 209.3252326513939, 199.5062150538397), ('HWCS 2020 Round 1 - 49er', 'R3 (49ER)', 'R3', b',C\xcfp\xaa\xa1\x017\xc6\x0e\x06w?\x91rv', 6.824658385904203, 7.412639883959384, 197.7087836329565, 214.04461874762276), ('HWCS 2020 Round 1 - 49er', 'R4 (49ER)', 'R4', b'\xa5\xf1Dp\xac\r\x017\xe1\xa4\x06w?\x91rv', 16.887961408031785, 18.71502735039224, 208.37493765445734, 218.8290717354898), ('HWCS 2020 Round 1 - 49er', 'R5  (49ER)', 'R5', b'{\x18\xb9\xd0\xac)\x017\xea\x04\x06w?\x91rv', 16.907576054119744, 19.98669753052427, 206.64779499723184, 218.3931607428417), ('HWCS 2020 Round 1 - 49er', 'R6 (49ER)', 'R6', b'}K~\x80\xac)\x017\xeaU\x06w?\x91rv', 13.682418791691775, 17.275806545463322, 215.28163255999937, 218.44394729700252), ('HWCS 2020 Round 1 - 49er', 'R7 (49ER)', 'R7', b'\xf8\x18\xfd\x90\xac\xdd\x017\xfdf\x06w?\x91rv', 15.062369747348903, 18.13012016024929, 203.99603904066868, 208.81977073433924))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 470 Women/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - 470 Women/windsummary.json

Could not add races of HWCS 2020 Round 1 - 470 Women R09 (470 Women) to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, M Medal (470 Women)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R08 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R09 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R1 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R10 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R2 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R3 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R4 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R5 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R6 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (HWCS 2020 Round 1 - 470 Women, R7 (470 Women)). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('HWCS 2020 Round 1 - 470 Women', 'M Medal (470 Women)', 'M', b'\xd6\x8f\x11\x90\xaep\x017$\x17\x06w?\x91rv', 5.5701833957821725, 6.097801335060765, 187.40809858802507, 188.6635050607554), ('HWCS 2020 Round 1 - 470 Women', 'R08 (470 Women)', 'R8', b'\x9f\xdf$P\xad\x9f\x017\x13c\x06w?\x91rv', 9.906040367773965, 15.637054080952248, 187.30040685432115, 194.57053816526775), ('HWCS 2020 Round 1 - 470 Women', 'R09 (470 Women)', 'R9', b'F\xf2\xc6\x80\xad\xb9\x017\x17\xb8\x06w?\x91rv', 14.393506507582329, 18.913385432405455, 201.6693259855773, 203.50566921227409), ('HWCS 2020 Round 1 - 470 Women', 'R1 (470 Women)', 'R1', b'y\xd9\xa4P\xa9\xf8\x017\xb9\xb5\x06w?\x91rv', 7.235616759496094, 8.37914609014132, 205.68471200190777, 197.35972587791213), ('HWCS 2020 Round 1 - 470 Women', 'R10 (470 Women)', 'R10', b'H^\x9e\x00\xad\xb9\x017\x17\xeb\x06w?\x91rv', 17.12899224980987, 19.501069560077482, 205.2959359092961, 213.9969539285836), ('HWCS 2020 Round 1 - 470 Women', 'R2 (470 Women)', 'R2', b'\xa3\x1a5\xb0\xac\r\x017\xe1E\x06w?\x91rv', 15.50480251365464, 16.974479381226267, 206.6131476908364, 213.19102768820176), ('HWCS 2020 Round 1 - 470 Women', 'R3 (470 Women)', 'R3', b'\xf9\xf4\xa1`\xac!\x017\xe4\x81\x06w?\x91rv', 16.580730048365066, 20.155998970277317, 216.2072494370774, 213.89446791468322), ('HWCS 2020 Round 1 - 470 Women', 'R4 (470 Women)', 'R4', b'\xfb=[P\xac!\x017\xe4\xb4\x06w?\x91rv', 16.549769582134207, 19.590192846165387, 214.09362931197757, 213.81825920329996)  ... displaying 10 of 11 total bound parameter sets ...  ('HWCS 2020 Round 1 - 470 Women', 'R6 (470 Women)', 'R6', b'\x9b\xbd\xc9\xe0\xac\xf1\x017\x05q\x06w?\x91rv', 12.620423060418142, 15.281909749443274, 204.14118379541682, 210.19473646883085), ('HWCS 2020 Round 1 - 470 Women', 'R7 (470 Women)', 'R7', b'\x9d\r\xf5P\xac\xf1\x017\x05\xa4\x06w?\x91rv', 12.911430996338726, 17.533167977911788, 193.63662906986218, 210.19121422574517))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - Laser/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - Laser/windsummary.json
Could not add races of WCS 2019 Enoshima - Laser R1 to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, M Medal (Laser)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R1). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R2). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R3). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R4). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R5). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R6). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R7). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R8). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - Laser, R9). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('WCS 2019 Enoshima - Laser', 'M Medal (Laser)', 'M', b'\xdc\xdcN\x90\x9a\xfb\x016)K\x06\x16\x1ap\xd06', 7.080813368315198, 7.541435859801108, 199.4247850401929, 196.04323599720604), ('WCS 2019 Enoshima - Laser', 'R1', 'R1', b'XR{E\xa1\x8aDO\x95\xa7\xf8/\xc0s\x92X', 13.38970498496749, 14.248495888447275, 43.07480346740962, 53.23327993804048), ('WCS 2019 Enoshima - Laser', 'R2', 'R2', b'\xf1\xe8D\xe4\xe8\x0fE\x85\xb9\xab[~\x9f\xe6\xa2\x8b', 11.656864276000224, 12.590773347486547, 36.92984854378733, 52.75032125701287), ('WCS 2019 Enoshima - Laser', 'R3', 'R3', b'\xec0~\xc2\xe1\xb4L-\x9c\x90\x85\xdaz\xdb`]', 10.668237831133137, 12.508609613764355, 45.11171237641358, 59.40468718022987), ('WCS 2019 Enoshima - Laser', 'R4', 'R4', b'Q\xcbU\xfe\xd6\x12N\r\x9d\xcew\x85\x8baT\x96', 11.955750559645326, 12.907710440423012, 48.67048937823904, 61.19529915625378), ('WCS 2019 Enoshima - Laser', 'R5', 'R5', b'\xbea\x16\x81\\\xf5N\x15\x84\xe0\xa4\xb9\xf0\xb2\xe8\xd6', 6.452151555445831, 8.267310632898564, 63.9046186061787, 66.92210041506195), ('WCS 2019 Enoshima - Laser', 'R6', 'R6', b'\xe7\xa3q \xe1\x86N\xe1\xa5\x95\xc5Ci\x12\xb4\xb9', 4.679347344712809, 6.302341151716116, 3.359001014868767, 350.3462255025397), ('WCS 2019 Enoshima - Laser', 'R7', 'R7', b'Tg\xe5/\t8M\x98\x90nc\x0b(\x81\x99\x07', 6.239224546637589, 17.475320060766727, 2.4600937336162474, 4.375521570693252), ('WCS 2019 Enoshima - Laser', 'R8', 'R8', b'\\D\xa4\x14\xb9\x1fD&\xb0s]P\xaa\x05\x06%', 9.685200886222333, 10.448808475890864, 3.438310595031311, 4.625113064076743), ('WCS 2019 Enoshima - Laser', 'R9', 'R9', b'\x7f\x84\x8dz\x9f\x85E#\x98\x84\xde\xddh\x9cY\x9b', 6.710976038171589, 6.715124042186448, 30.888232538988177, 4.902559865387701))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - RS__X Men/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - RS__X Men/windsummary.json

Could not add races of WCS 2019 Enoshima - RS:X Men R1 to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, M Medal (RS:X Men)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R1). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R2). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R3). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R4). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R5). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R6). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R7). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - RS:X Men, R8). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('WCS 2019 Enoshima - RS:X Men', 'M Medal (RS:X Men)', 'M', b'\xa3\x12\x90p\x9a6\x016&^\x06\x16\x1ap\xd06', 8.695116407504852, 10.002758097095771, 4.233011504342045, 358.32535206080513), ('WCS 2019 Enoshima - RS:X Men', 'R1', 'R1', b'\x1ef\xbb\xb4\x83\x9dIQ\xab\xb1\x88\xa3\xbeT\n\xe0', 11.87539707901786, 13.6635739765706, 43.831370719574466, 59.86169247339913), ('WCS 2019 Enoshima - RS:X Men', 'R2', 'R2', b'\xbb\x06IE\x11\x90JZ\xa76\xcbG\xc7\x02\xf3$', 13.223568246802586, 14.155508715044439, 45.62834117730765, 54.481367368188245), ('WCS 2019 Enoshima - RS:X Men', 'R3', 'R3', b'\x81u\xa9\xdd\xb1\xe3Mr\xb1\xd19YKS\xbb$', 11.334928816378204, 12.178046149513916, 39.73277837187817, 59.02240693409723), ('WCS 2019 Enoshima - RS:X Men', 'R4', 'R4', b'\\]7mo9Ag\xa0\x9f\x13\xba\xb1Z|\xbc', 10.749074512285397, 12.653211716012422, 53.185687369145114, 53.633446900479214), ('WCS 2019 Enoshima - RS:X Men', 'R5', 'R5', b'[\x9a*}\xee\x03@\x89\x9a\xd5I\xa9\x96\xe7u\x11', 10.396484309644102, 12.502138584338095, 48.352971538516016, 54.59395481890988), ('WCS 2019 Enoshima - RS:X Men', 'R6', 'R6', b'V\n\xebW\xc7>J\x83\x9bW\x8c\xa7\xdfN_2', 9.910587830267104, 10.91767189752181, 51.285325444661225, 54.25844154962883), ('WCS 2019 Enoshima - RS:X Men', 'R7', 'R7', b'A\xc1\xd4JG\xd6M\xb8\x93q\xac\x94g\x99\x8f\xf1', 8.363595519973302, 9.84223495283835, 49.369177630795065, 64.46310580879202), ('WCS 2019 Enoshima - RS:X Men', 'R8', 'R8', b'\xfb\x1a4,2\xd0K\xdb\x8ar\xca\x85\xad?\xb8j', 6.411897827040461, 8.202581832253536, 57.39702444496217, 64.45442217484359))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - 49er/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - 49er/windsummary.json
Could not add races of WCS 2019 Enoshima - 49er R1 to the database because of IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, M Medal (49er)). (2601) (SQLExecute); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R1). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R2). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R3). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R4). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R5). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R6). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R7). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R8). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.races' with unique index 'idx_rac'. The duplicate key value is (WCS 2019 Enoshima - 49er, R9). (2601); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO races (regatta, race, [raceShort], [raceId], [minWindSpd_kts], [maxWindSpd_kts], [avgWindDir_deg], firstlegbearing_deg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('WCS 2019 Enoshima - 49er', 'M Medal (49er)', 'M', b'\xbdy\xa4\x80\x9a6\x016&v\x06\x16\x1ap\xd06', 6.193927206381085, 7.9828694657111114, 19.3817103953005, 12.925100136906792), ('WCS 2019 Enoshima - 49er', 'R1', 'R1', b'\xbc>\x13\x84\xc6\x98B\xf2\x81\x95\x99\xbee\xf7\xfb\x1b', 13.596426879907762, 14.804497923930937, 42.479492272650674, 37.80598006145445), ('WCS 2019 Enoshima - 49er', 'R2', 'R2', b'8\xfe\x81\xe8x\xb4F\x16\x9cK\x95\x91\x04\xd6\x9b\xf4', 12.773622485343338, 14.344785768474347, 42.12633602856039, 56.84459253214533), ('WCS 2019 Enoshima - 49er', 'R3', 'R3', b'@a\xbeS\x93\xefK\x87\x88\xb2\x14\xfa\x9c\xf8\x9dX', 14.133195349420443, 14.446009812579351, 43.200474246312666, 56.73069599633803), ('WCS 2019 Enoshima - 49er', 'R4', 'R4', b'\x84\xd9\xf3\xee}JC\x9e\xb1IN\xdca\xd5\xa7e', 10.303396987179537, 10.58554346971965, 43.53568995871407, 54.916256362967744), ('WCS 2019 Enoshima - 49er', 'R5', 'R5', b'\x13`\x85\x17\xc3\xcdOQ\xa9QB\xe8\xb0\x05\xfe\x01', 10.77242300531864, 11.809513334813737, 32.208420787399376, 63.43349803956875), ('WCS 2019 Enoshima - 49er', 'R6', 'R6', b'\x9a"\n\xe2\x00\xacAO\x86NV\xa7\xbd\x88\xc1\x95', 9.67627327702083, 10.77589255490315, 39.888628682113136, 55.477337904890135), ('WCS 2019 Enoshima - 49er', 'R7', 'R7', b'\xa3n\x19i\xaa\x07H\x0b\xb0\xcd\x0f\xb5\xb0-\x8e\xcf', 8.0460956768959, 10.228213615347318, 41.79113078453915, 48.16643346057202), ('WCS 2019 Enoshima - 49er', 'R8', 'R8', b'\xf2\xec\xafq&\xc9@8\xa0\xf8\x9dJ\xdb\xd3\xc4-', 8.811170795042703, 9.318744114953239, 40.985855666288586, 55.8975084660936), ('WCS 2019 Enoshima - 49er', 'R9', 'R9', b'0\xba\x98\x9fswK\xf4\xadp=\n\xe5*\xfa\x83', 7.919552092445882, 8.597772547252076, 37.07654578346575, 54.410615442502944))]
(Background on this error at: http://sqlalche.me/e/gkpj)
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - Nacra 17/races.json
file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/www/regattas/WCS 2019 Enoshima - Nacra 17/windsummary.json

KeyboardInterrupt:

In [ ]:
## TABLE 3 Competitors


for serv in eventSelection:
    d = download.download(server = serv['name'], regattasContaining = serv['regattaNameContaining'],\
    racesContaining = serv['raceNameContaining'])
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        
        directory_regatta =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) +\
                                webAddressToFilename(regattaLoc(regName))
        filepath = directory_regatta + 'entries.json'
        with open(filepath) as json_file:
#             print('file extracted: ', filepath)
            data = json.load(json_file)
        dic_data = {'regatta': regName, 'data': data}
        competitors = cd.transformJsonToPD(dic_data, 'entries').set_index(['regatta', 
                                                                          'comp_name'])
#         print(competitors.head())


        dir_datamining =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                        webAddressToFilename(regattaLoc(regName)) + '/datamining/'
        datamining_reg = []
        for root, dirs, files in os.walk(dir_datamining, topdown=True):
            for file in files:
                fname = os.path.splitext(file)[0]
                if file.endswith(".json"):
                    with open(root + file) as json_file:
#                         print('file extracted: ', root + file)
                        data = json.load(json_file)
                    dic_data = {'regatta': regName, 'data': data}
                    df = cd.transformJsonToPD(dic_data, fname).set_index(['regatta', 'comp_name']) 
                    datamining_reg.append(df)
#                   print('df: ',df.head())

        datamining_reg = pd.concat(datamining_reg, axis = 1, join = 'outer')
            
        result = pd.merge(datamining_reg.reset_index(), competitors.reset_index(), how='left')
#         print('comp', result.head())
        result.to_sql('competitors', con = engine, index = False, if_exists = 'append')
        print('Succesfully uploaded competitors from {} to sql server'.format(regName))

In [ ]:
## TABLE 4 wind
# ,[regatta]
# ,[race]
# ,[timestamp_ms]
# ,[lat_deg]
# ,[lon_deg]
# ,[WindSpd_kts]
# ,[WindDir_deg]
# ,[dampened_WindSpd_kts]
# ,[dampened_WindDir_deg]


for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                    webAddressToFilename(regattaLoc(regName)) + '/races/'
        for race in os.listdir(dir_races):
            filepath = dir_races + race + "/wind--fromtime=2012-01-01T10__12__03Z&totime=2019-12-31T10__12__03Z.json"
            if filepath.endswith(".json"):
                with open(filepath) as json_file:
#                     print('file extracted: ', filepath)
                    data = json.load(json_file)
                dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}
                df = cd.transformJsonToPD(dic_data, 'wind')#.set_index(['regatta', 'comp_name']) 
                df['timepoint-ms'] = df['timepoint-ms'].apply(int)
#                 print('df: ',df.head(), df.dtypes)
                try:
                    df.to_sql('wind', con = engine, index = False, if_exists = 'append')
                    print('Succesfully uploaded wind for {} race {}'.format(regName, race))
                except IntegrityError as e:
                    print('WARNING: Failed to upload to sql: '+ str(e))
               
            
            
#Tokyo 2019 - Laser Radial//races/R2 (Laser Radial)/wind--fromtime=2012-01-01T10__12__03Z&totime=2019-12-31T10__12__03Z.json                
# WARNING: Failed to upload to sql: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.wind' with unique index 'idx'. The duplicate key value is (Tokyo 2019 - Laser Radial, R2 (Laser Radial), 35.2943, 139.498, 1566027434659)
#file extracted:  X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis//data/raw/tokyo2019/regattas/Tokyo 2019 - RS__X Men//races/R3 (RS__X Men)/wind--fromtime=2012-01-01T10__12__03Z&totime=2019-12-31T10__12__03Z.json
# WARNING: Failed to upload to sql: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.wind' with unique index 'idx'. The duplicate key value is (Tokyo 2019 - RS:X Men, R3 (RS:X Men), 35.2954, 139.495, 1566025905989)

In [ ]:
## TABLE 5 legs
# [regatta]
# ,[race]
# ,[leg_nr]
# ,[fromWaypointId]
# ,[toWaypointId]
# ,[to]
# ,[from]
# ,[upOrDownwindLeg]
# ,[leg_nr_from_finish]
# ,[distance]


for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                        webAddressToFilename(regattaLoc(regName)) + '/races/'
        for race in os.listdir(dir_races):
            filepath = dir_races + race + "/competitors/legs.json"
            if filepath.endswith(".json"):
                with open(filepath) as json_file:
#                     print('file extracted: ', filepath)
                    data = json.load(json_file)
                dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}
                df = cd.transformJsonToPD(dic_data, 'legs') 
#                 print('df: ',df.head())

                try:
                    df.to_sql('legs', con = engine, index = False, if_exists = 'append')
                    print('Succesfully uploaded wind for regatta: \t{}, race: \t{}'.format(regName, race))
                except IntegrityError as e:
                    print('WARNING: Failed to upload to sql: '+ str(e))

### temorarily delete entries in comp_leg, because I accidentally deleted to many similar rows

cursor.execute("""
DELETE FROM legs;
""")

In [ ]:
### TABLE 6
## This code create all entries in race_comp. We do this by checking that the nr_competitors in 
## the races table is still NULL because we did not update that yet.
## We will later add rank, based on comp_leg
cursor.execute("""
INSERT INTO race_comp(regatta, race, comp_id)
SELECT races.regatta, races.race, competitors.comp_id FROM races, competitors
WHERE races.regatta = competitors.regatta
 and races.nr_competitors IS NULL
""")

In [ ]:
## TABLE 7 comp_leg
# [regatta]
# ,[race]
# ,[leg_nr]
# ,[comp_id]
# ,[competitor_distanceTraveled-m]
# ,[competitor_averageSOG-kts]
# ,[competitor_tacks]
# ,[competitor_jibes]
# ,[competitor_penaltyCircles]
# ,[competitor_rank]
# ,[competitor_gapToLeader-s]
# ,[competitor_gapToLeader-m]
# ,[competitor_started]
# ,[competitor_finished]




for serv in eventSelection:
    
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                    webAddressToFilename(regattaLoc(regName)) + '/races/'
        for race in os.listdir(dir_races):
            filepath = dir_races + race + "/competitors/legs.json"
            if filepath.endswith(".json"):
                with open(filepath) as json_file:
#                     print('file extracted: ', filepath)
                    data = json.load(json_file)
                dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}
                df = cd.transformJsonToPD(dic_data, 'comp_leg') 
#                 print('df: ',df.head())



                try:
                    df.to_sql('comp_leg', con = engine, index = False, if_exists = 'append')
                    print('Succesfully uploaded wind for regatta: \t{}, race: \t{}'.format(regName, race))
                except IntegrityError as e:
                    print('Could not add races of {} {} to the database because of IntegrityError: {}'.format(regName,
                                                                                                              race,
                                                                                                              e))

In [ ]:
### Markpassings, to update legnr_columnn in positions

cursor.execute("""
DROP TABLE temp_markpassings
CREATE TABLE temp_markpassings
(regatta varchar(50) NOT NULL,
race varchar(50) NOT NULL,
comp_id binary(16) NOT NULL,
leg_nr int NOT NULL,
begin_leg_ms bigint NULL,
end_leg_ms bigint NULL

)

CREATE UNIQUE INDEX idx ON temp_markpassings (regatta, race, leg_nr, comp_id);
CREATE CLUSTERED INDEX idx_2 ON temp_markpassings (regatta, race, comp_id);

""")

cursor.execute("""
ALTER TABLE temp_markpassings
ADD CONSTRAINT fk_temp_markpassings_comp_leg FOREIGN KEY (regatta, race, leg_nr, comp_id)
      REFERENCES comp_leg (regatta, race, leg_nr, comp_id)
      ON DELETE CASCADE
      ON UPDATE CASCADE
""")

In [13]:
#### TEMPORARY TABLE MARKPASSINGS
for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) +\
                    webAddressToFilename(regattaLoc(regName)) + '/races/'
        for race in os.listdir(dir_races):
            filepath = dir_races + race + "/markpassings.json"
            with open(filepath) as json_file:
#                 print('file extracted: ', filepath)
                data = json.load(json_file)
            dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}
            df = cd.transformJsonToPD(dic_data, 'markpassings') 
            if not df.empty:
#                 print(df.leg_nr.unique())
                try:                
                    df.to_sql('temp_markpassings', con = engine, index = False, if_exists = 'append')

                    print('Succesfully added markpassings of \t{} \t{} \tto the database'.format(regName, race))
                except IntegrityError as e:
                    print('Could not add markpassings of \t{} \t{} \tto the database because of IntegrityError:'.format(regName,race))
            else:
                print('Warning: markpassings for \t{} \t{} \t was empty'.format(regName, race))

Succesfully added markpassings of 	Tokyo 2019 - 49er 	R1 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R10 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R11 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R12 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R13 Medal (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R2 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R3 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R4 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R5 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R6 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R7 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R8 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er 	R9 (49er) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R1 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R10 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R2 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R3 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R4 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R5 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R6 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R7 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R8 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser 	R9 (Laser Int.) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R1 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R10 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R11 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R12 Medal (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R2 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R3 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R4 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R5 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R6 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R7 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R8 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Women 	R9 (RS__X Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R1 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R10 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R11 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R12 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R13 Medal (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R2 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R3 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R4 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R5 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R6 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R7 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R8 (49erFX) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 49er FX 	R9 (49erFX) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R1 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R10 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R11 Medal (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R2 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R3 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R4 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R5 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R6 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R7 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R8 (470 Women) 	to the database
Succesfully added markpassings of 	Toyko 2019 - 470 Women 	R9 (470 Women) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R1 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R10 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R2 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R3 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R4 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R5 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R6 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R7 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R8 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Laser Radial 	R9 (Laser Radial) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R1 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R10 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R2 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R3 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R4 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R5 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R6 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R7 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R8 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - 470 Men 	R9 (470 Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R1 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R10 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R11 Medal (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R2 (RS__X men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R3 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R4 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R5 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R6 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R7 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R8 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - RS:X Men 	R9 (RS__X Men) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R1 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R10 (Finn) 	to the database

Succesfully added markpassings of 	Tokyo 2019 - Finn 	R2 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R3 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R4 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R5 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R6 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R7 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R8 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Finn 	R9 (Finn) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R1 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R10 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R11 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R12 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R13 Medal (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R2 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R3 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R4 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R5 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R6 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R7 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R8 (Nacra 17) 	to the database
Succesfully added markpassings of 	Tokyo 2019 - Nacra 17 	R9 (Nacra 17) 	to the database

In [14]:
## TABLE 8 positions
for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                    webAddressToFilename(regattaLoc(regName)) + '/races/'
        for race in os.listdir(dir_races):
            
            print('Get first pos', end = '\r')
            sql = """ SELECT TOP (1) * FROM positions
                    WHERE regatta = '{}'
                    and race = '{}'
                  """.format(regName, race)
            pos = pd.read_sql(sql, con = engine) ## already a positions for this race ?   
            if not pos.empty:
                print('Already positions found in db for \t{} \t{}'.format(regName, race))
                continue

            print('get markpassings', end="\r")
            sql = """ SELECT * FROM temp_markpassings
                    WHERE regatta = '{}'
                    and race = '{}'
                    """.format(regName, race)
            mps = pd.read_sql(sql, con = engine) ## markpassings for this race
            if mps.empty:
                print('No markpassints where found for\t{} \t{}'.format(regName, race))
                continue

            filepath = dir_races + race + "/competitors/positions.json"
            with open(filepath) as json_file:
        #                     print('file extracted: ', filepath)
                data = json.load(json_file)
            dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}

            print('transform to pd', end="\r")
            df = cd.transformJsonToPD(dic_data, 'competitor_positions') 

            print('determine leg numbers', end="\r")
            for idx, comp_leg in mps.iterrows():
                df.loc[(df.comp_id == comp_leg.comp_id) & (df['timepoint_ms'] > comp_leg.begin_leg_ms)
                       & (df['timepoint_ms'] < comp_leg.end_leg_ms),'leg_nr'] = comp_leg.leg_nr
            df = df.dropna(subset=['leg_nr'])


            try:
                print('Uploading positions to db                        ', end="\r")
                df.to_sql('positions', con = engine, index = False, if_exists = 'append', chunksize = 10000)
                print('Added positions of \t{} \t{} \t succesfully to the database'.format(regName, race))
            except IntegrityError as e:
                print('Could not add positions of \t{} \t{} \tto the database because of IntegrityError.'.format(regName,race))

Added positions of 	Tokyo 2019 - 49er 	R1 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R10 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R11 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R12 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R13 Medal (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R2 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R3 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R4 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R5 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R6 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R7 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R8 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er 	R9 (49er) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R1 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R10 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R2 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R3 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R4 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R5 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R6 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R7 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R8 (Laser Int.) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser 	R9 (Laser Int.) 	 succesfully to the database
No markpassints where found for	Tokyo 2019 - RS:X Women 	R1 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R10 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R11 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R12 Medal (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R2 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R3 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R4 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R5 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R6 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R7 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R8 (RS__X Women)
No markpassints where found for	Tokyo 2019 - RS:X Women 	R9 (RS__X Women)
Added positions of 	Tokyo 2019 - 49er FX 	R1 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R10 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R11 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R12 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R13 Medal (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R2 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R3 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R4 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R5 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R6 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R7 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R8 (49erFX) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 49er FX 	R9 (49erFX) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R1 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R10 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R11 Medal (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R2 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R3 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R4 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R5 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R6 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R7 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R8 (470 Women) 	 succesfully to the database
Added positions of 	Toyko 2019 - 470 Women 	R9 (470 Women) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R1 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R10 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R2 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R3 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R4 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R5 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R6 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R7 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R8 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Laser Radial 	R9 (Laser Radial) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R1 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R10 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R2 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R3 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R4 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R5 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R6 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R7 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R8 (470 Men) 	 succesfully to the database
Added positions of 	Tokyo 2019 - 470 Men 	R9 (470 Men) 	 succesfully to the database
No markpassints where found for	Tokyo 2019 - RS:X Men 	R1 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R10 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R11 Medal (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R2 (RS__X men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R3 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R4 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R5 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R6 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R7 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R8 (RS__X Men)
No markpassints where found for	Tokyo 2019 - RS:X Men 	R9 (RS__X Men)
Added positions of 	Tokyo 2019 - Finn 	R1 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R10 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R2 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R3 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R4 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R5 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R6 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R7 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Finn 	R8 (Finn) 	 succesfully to the database

Added positions of 	Tokyo 2019 - Finn 	R9 (Finn) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R1 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R10 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R11 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R12 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R13 Medal (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R2 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R3 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R4 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R5 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R6 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R7 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R8 (Nacra 17) 	 succesfully to the database
Added positions of 	Tokyo 2019 - Nacra 17 	R9 (Nacra 17) 	 succesfully to the database

### Extra functions in case something went wrong for a few entries

In [14]:
### Extra functions to manually add tracks of seperate competitors
## in the previous cell tracks have been added per race, but for some reason it went wrong in some cases

def uploadPositions(regName, race, comp_id):
    dir_races =  parentdir + '/' + outdirbase + webAddressToFilename(serv['name']) + \
                    webAddressToFilename(regattaLoc(regName)) + '/races/'
    filepath = dir_races + webAddressToFilename(race) + "/competitors/positions.json"
    sql = """ SELECT * FROM temp_markpassings
            WHERE regatta = '{}'
            and race = '{}'
            and comp_id = {}
            """.format(regName, race, comp_id)
    mps = pd.read_sql(sql, con = engine) ## markpassings for this race
    
    if mps.empty:
        print('No markpassings found, try to download them again')
    
    with open(filepath) as json_file:
#                     print('file extracted: ', filepath)
        data = json.load(json_file)
    dic_data = {'regatta': regName, 'race': filenameToWebAddress(race), 'data': data}

    print('transform to pd', end="\r")
    df = cd.transformJsonToPD(dic_data, 'competitor_positions') 

    print('determine leg numbers', end="\r")
    for idx, comp_leg in mps.iterrows():
        df.loc[(df.comp_id == comp_leg.comp_id) & (df['timepoint_ms'] > comp_leg.begin_leg_ms)
               & (df['timepoint_ms'] < comp_leg.end_leg_ms),'leg_nr'] = comp_leg.leg_nr
    df = df.dropna(subset=['leg_nr'])
#                 print(mps.head())
#                 print(df.head())

    try:
        print('Uploading positions to db', end="\r")
        df.to_sql('positions', con = engine, index = False, if_exists = 'append', chunksize = 10000)
        print('Added positions of \t{} \t{} \t succesfully to the database'.format(regName, race))
    except IntegrityError as e:
        print('Could not add positions of \t{} \t{} \tto the database because of IntegrityError.'.format(regName,race))
    return df

In [30]:
# quick import when a positions file was truncated 

import urllib, json, requests

servName = 'hwcs2020-round1'
regName = 'HWCS 2020 Round 1 - Finn'
raceName = 'R6 (FINN)'

url = 'https://www.sapsailing.com/sailingserver/api/v1/regattas/{}/races/{}/competitors/positions'.format(regName,
                                                                                                          raceName)
filename = '{}/data/raw/{}/regattas/{}/races/{}/competitors/positions.json'.format(parentdir, servName, regName, raceName)
try:
    r = requests.get(url).json()
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    print(filename)
except ValueError:
    print("Oops! ", loc , " did not contain the right data for the races")

with open(filename, 'w+') as outfile:
    print('Created new file:', filename)
    json.dump(r, outfile)

X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis/data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Finn/races/R6 (FINN)/competitors/positions.json
Created new file: X:\TU_Delft\2_Master\3_Stage\2_Code\SAPDataAnalysis/data/raw/hwcs2020-round1/regattas/HWCS 2020 Round 1 - Finn/races/R6 (FINN)/competitors/positions.json

# FILL COLUMNS TO COMPLETE DATABASE

## Update final rank in race_comp

In [ ]:
cursor.execute("""
UPDATE
    race_comp
SET
    race_comp.rank = (
            SELECT comp_leg.competitor_rank from comp_leg 
                    INNER JOIN legs ON comp_leg.regatta = legs.regatta
                                AND comp_leg.race = legs.race
                                AND comp_leg.leg_nr = legs.leg_nr
            WHERE legs.leg_nr_from_finish = 1
                AND race_comp.regatta = comp_leg.regatta 
                AND race_comp.race = comp_leg.race
                AND race_comp.comp_id = comp_leg.comp_id
)
""")

In [ ]:
cnxn.commit()

## Get chosen side of competitors for leg 1

In [14]:
def trackStatistics(track_df):
    #transform to equidistant field
    phi_0 = track_df['lat-deg'][0] ## latitude
    l_0 = track_df['lng-deg'][0] ## longitude
    x = np.array(cos(phi_0 * 2 * pi/360) * (track_df['lng-deg']- l_0))
    y = np.array( track_df['lat-deg']- phi_0)
    
    #rotate and scale to 0-1
    theta = -atan2(y[-1:],x[-1:])
    T = np.matrix([[cos(theta), -sin(theta)],[sin(theta), cos(theta)]])
    X = T*np.matrix([x,y])
    X = X/(X[0,-1:])
    
    #statistics
    avg_side = np.mean(X[1])/.25 * 100
    most_left = np.max(X[1]) /.5 * 100
    most_right = -np.min(X[1]) /.5 *100
    
    return avg_side, most_left, most_right


def coordinatesToEquiv(track_df, centre = True):
    if centre:
        phi_0 = track_df['lat-deg'][0] ## latitude
        l_0 = track_df['lng-deg'][0] ## longitude
    else:
        phi_0 = 35.160967
        l_0 = 139.309617
    x = np.array(cos(phi_0 * 2 * pi/360) * (track_df['lng-deg']- l_0))
    y = np.array( track_df['lat-deg']- phi_0)
    return np.array([x, y])

In [15]:
for indx, regatta in serv['regattas'].iterrows():
    regName = regatta.regatta

    sql = """SELECT  comp_leg.regatta, comp_leg.race, comp_leg.comp_id
                    ,comp_leg.competitor_started
                    ,comp_leg.competitor_finished
                    ,comp_leg.avg_side

            from comp_leg INNER JOIN regattas
            on regattas.regatta = comp_leg.regatta
            where regattas.regatta = '{}'
                  and leg_nr = 1""".format(regName)
    df = pd.read_sql_query(sql, con = engine)
    print("{}\n tracks which occured faults:".format(regName))       
    for index, row in df.iterrows():
        comp_id = "0x{}".format(row['comp_id'].hex().upper())

        sql = """SELECT  TOP (1) *
          FROM comp_leg
          WHERE regatta = '{}'
          and race = '{}'
          and comp_id = {}
          and leg_nr = 1""".format(row['regatta'] , row['race'] , comp_id)
        comp_leg = pd.read_sql_query(sql, con = engine, chunksize=None)

        if not (comp_leg.avg_side.values[0] is None):
#             print(row['regatta'], row['race'] , comp_id , end="\t")
#             print('Side already determined')
            continue

        if not row['competitor_started'] or not row['competitor_finished']:
#             print(row['regatta'], row['race'] , comp_id , end="\t")
#             print('comp did not start or finish leg')
            continue


        sql = """SELECT  *
          FROM positions
          WHERE regatta = '{}'
          and race = '{}'
          and comp_id = {}
          and leg_nr = 1""".format(row['regatta'] , row['race'] , comp_id)
        track = pd.read_sql_query(sql, con = engine, chunksize=None)

        if track.empty:
            print(row['regatta'], row['race'] , comp_id , end="\t")
            print('No track found, try to download it again')
            uploadPositions(row['regatta'], row['race'], comp_id)
            sql = """SELECT  *
              FROM positions
              WHERE regatta = '{}'
              and race = '{}'
              and comp_id = {}
              and leg_nr = 1""".format(row['regatta'] , row['race'] , comp_id)
            track = pd.read_sql_query(sql, con = engine, chunksize=None)
        if track.empty:
            print('No track found')
            break

        stats = [str(x) for x in trackStatistics(track)]
        cursor.execute("""
        UPDATE comp_leg
        SET    comp_leg.avg_side = {}
               ,comp_leg.most_left = {}
               ,comp_leg.most_right = {}
        WHERE
        regatta = '{}'
          and race = '{}'
          and comp_id = {}
          and leg_nr = 1
          """.format(stats[0], stats[1], stats[2], row['regatta'] , row['race'] , comp_id)
                      )
        cursor.commit()

WCS 2019 Enoshima - Laser
 tracks which occured faults:
WCS 2019 Enoshima - RS:X Men
 tracks which occured faults:
WCS 2019 Enoshima - 49er
 tracks which occured faults:
WCS 2019 Enoshima - Nacra 17
 tracks which occured faults:
WCS 2019 Enoshima - RS:X Women
 tracks which occured faults:
WCS 2019 Enoshima - 49erFX
 tracks which occured faults:
WCS 2019 Enoshima - Laser Radial
 tracks which occured faults:
WCS 2019 Enoshima - Finn
 tracks which occured faults:
WCS 2019 Enoshima - 470 Women
 tracks which occured faults:
WCS 2019 Enoshima - 470 Men
 tracks which occured faults:

In [ ]:
cnxn.commit()

## Determining Course Area

In [29]:
def getArea(race, areas):
    sql = """SELECT TOP (1) *
      FROM positions
      WHERE regatta = '""" + race['regatta'] + \
      """'and race = '"""+ race['race'] + \
      """'and leg_nr = 1"""
    track = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None)
    if track.empty:
        print('Track of race {} was empty'.format(race.race))
        return -1
    loc = coordinatesToEquiv(track, centre = False).reshape(1,2)
    areas['distance'] = areas.apply(lambda x: np.linalg.norm( x.equid -loc, ord = 1), axis =  1)
    area_id = areas.loc[areas[['distance']].idxmin(), 'id'].values[0]
    return area_id

In [28]:
sql = """SELECT  *
  FROM course_areas"""
areas = pd.read_sql_query(sql, con = engine)

areas['equid'] = areas.apply(lambda x:  coordinatesToEquiv(x, centre = False), axis =  1)


for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        sql = """SELECT  *
          FROM races
          WHERE races.regatta = '{}'""".format(regName)
        df = pd.read_sql_query(sql, con = engine, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None)

        for ind, race in df.iterrows():
            print('determining racearea of {} {}'.format(regName,race['race'])
                  , end = ' ')
            value = str(getArea(race, areas))
            if value == "-1":
                continue
            print(value)
            cursor.execute("""UPDATE races
                            SET races.course_area_id = {}
                            WHERE regatta = '{}'
                                AND race = '{}'
                            """.format(value, regName, race['race']))
            cursor.commit()

determining racearea of HWCS 2020 Round 1 - Laser M Medal (Laser Standard) Track of race regatta                               HWCS 2020 Round 1 - Laser
race                                   M Medal (Laser Standard)
raceShort                                                     M
raceId                 b'\xf2\xde\xb2@\xaep\x017$/\x06w?\x91rv'
maxWindSpd_kts                                              NaN
minWindSpd_kts                                              NaN
avgWindDir_deg                                              NaN
firstlegbearing_deg                                      201.88
course_area_id                                             None
nr_competitors                                             None
Name: 0, dtype: object was empty
determining racearea of HWCS 2020 Round 1 - Laser R08 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R09 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R1 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R10 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R2 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R3 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R4 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R5 (Laser Standard) 2
determining racearea of HWCS 2020 Round 1 - Laser R6 (Laser Standard) 4
determining racearea of HWCS 2020 Round 1 - Laser R7 (Laser Standard) 4
determining racearea of HWCS 2020 Round 1 - Laser Radial M Medal (Laser Radial) Track of race regatta                           HWCS 2020 Round 1 - Laser Radial
race                                        M Medal (Laser Radial)
raceShort                                                        M
raceId                 b'\xf3\xcf\xb6\x10\xaep\x017$;\x06w?\x91rv'
maxWindSpd_kts                                                 NaN
minWindSpd_kts                                                 NaN
avgWindDir_deg                                                 NaN
firstlegbearing_deg                                          200.4
course_area_id                                                None
nr_competitors                                                None
Name: 0, dtype: object was empty
determining racearea of HWCS 2020 Round 1 - Laser Radial R08 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R09 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R1 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R10 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R2 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R3 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R4 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R5 (Laser Radial) 2
determining racearea of HWCS 2020 Round 1 - Laser Radial R6 (Laser Radial) 4
determining racearea of HWCS 2020 Round 1 - Laser Radial R7 (Laser Radial) 4
determining racearea of HWCS 2020 Round 1 - 49erFX M Medal (49FX) 1
determining racearea of HWCS 2020 Round 1 - 49erFX R1(49FX) 3
determining racearea of HWCS 2020 Round 1 - 49erFX R2(49FX) 3
determining racearea of HWCS 2020 Round 1 - 49erFX R3 (49FX) 3
determining racearea of HWCS 2020 Round 1 - 49erFX R4 (49FX) 3
determining racearea of HWCS 2020 Round 1 - 49erFX R5 (49FX) 3
determining racearea of HWCS 2020 Round 1 - Nacra 17 M Medal (Nacra 17) 1
determining racearea of HWCS 2020 Round 1 - Nacra 17 R1 (Nacra 17) 5
determining racearea of HWCS 2020 Round 1 - Nacra 17 R2 (Nacra 17) 5
determining racearea of HWCS 2020 Round 1 - Nacra 17 R3 (Nacra 17) 4
determining racearea of HWCS 2020 Round 1 - Nacra 17 R4 (Nacra 17) 4
determining racearea of HWCS 2020 Round 1 - Nacra 17 R5 (Nacra 17) 4
determining racearea of HWCS 2020 Round 1 - 470 Men M Medal (470 Men) 1
determining racearea of HWCS 2020 Round 1 - 470 Men R08 (470 Men) 4
determining racearea of HWCS 2020 Round 1 - 470 Men R09 (470 Men) 4
determining racearea of HWCS 2020 Round 1 - 470 Men R1 (470 Men) 6
determining racearea of HWCS 2020 Round 1 - 470 Men R10 (470 Men) 4
determining racearea of HWCS 2020 Round 1 - 470 Men R2 (470 Men) 6
determining racearea of HWCS 2020 Round 1 - 470 Men R3 (470 Men) 6
determining racearea of HWCS 2020 Round 1 - 470 Men R4 (470 Men) 6
determining racearea of HWCS 2020 Round 1 - 470 Men R5 (470 Men) 2
determining racearea of HWCS 2020 Round 1 - 470 Men R6 (470 Men) 2
determining racearea of HWCS 2020 Round 1 - 470 Men R7 (470 Men) 2
determining racearea of HWCS 2020 Round 1 - RS:X Men M Medal (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R1 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R10 (RSX Men) 3
determining racearea of HWCS 2020 Round 1 - RS:X Men R11 (RSX Men) 3
determining racearea of HWCS 2020 Round 1 - RS:X Men R12 (RSX Men) 3
determining racearea of HWCS 2020 Round 1 - RS:X Men R2 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R3 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R4 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R5 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R6 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R7 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R8 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - RS:X Men R9 (RSX Men) 1
determining racearea of HWCS 2020 Round 1 - Finn M Medal (FINN) Track of race regatta                                   HWCS 2020 Round 1 - Finn
race                                                M Medal (FINN)
raceShort                                                        M
raceId                 b'\xf1\xe9\xfe\x80\xaep\x017$#\x06w?\x91rv'
maxWindSpd_kts                                                 NaN
minWindSpd_kts                                                 NaN
avgWindDir_deg                                                 NaN
firstlegbearing_deg                                         173.94
course_area_id                                                None
nr_competitors                                                None
Name: 0, dtype: object was empty
determining racearea of HWCS 2020 Round 1 - Finn R08 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R09 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R1 (FINN) 4
determining racearea of HWCS 2020 Round 1 - Finn R10 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R2 (FINN) 2
determining racearea of HWCS 2020 Round 1 - Finn R3 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R4 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R5 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R6 (FINN) 5
determining racearea of HWCS 2020 Round 1 - Finn R7 (FINN) 5
determining racearea of HWCS 2020 Round 1 - RS:X Women M Medal (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R1 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R10 (RSX Women) 3
determining racearea of HWCS 2020 Round 1 - RS:X Women R2 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R3 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R4 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R5 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R6 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R7 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R8 (RSX Women) 1
determining racearea of HWCS 2020 Round 1 - RS:X Women R9 (RSX Women) 3
determining racearea of HWCS 2020 Round 1 - 49er M Medal (49ER) 1
determining racearea of HWCS 2020 Round 1 - 49er R1 (49ER) 3
determining racearea of HWCS 2020 Round 1 - 49er R2 (49ER) 3
determining racearea of HWCS 2020 Round 1 - 49er R3 (49ER) 3
determining racearea of HWCS 2020 Round 1 - 49er R4 (49ER) 3
determining racearea of HWCS 2020 Round 1 - 49er R5  (49ER) 3
determining racearea of HWCS 2020 Round 1 - 49er R6 (49ER) 3
determining racearea of HWCS 2020 Round 1 - 49er R7 (49ER) 1
determining racearea of HWCS 2020 Round 1 - 470 Women M Medal (470 Women) 1
determining racearea of HWCS 2020 Round 1 - 470 Women R08 (470 Women) 4
determining racearea of HWCS 2020 Round 1 - 470 Women R09 (470 Women) 4
determining racearea of HWCS 2020 Round 1 - 470 Women R1 (470 Women) 6
determining racearea of HWCS 2020 Round 1 - 470 Women R10 (470 Women) 4
determining racearea of HWCS 2020 Round 1 - 470 Women R2 (470 Women) 6
determining racearea of HWCS 2020 Round 1 - 470 Women R3 (470 Women) 6
determining racearea of HWCS 2020 Round 1 - 470 Women R4 (470 Women) 6
determining racearea of HWCS 2020 Round 1 - 470 Women R5 (470 Women) 2
determining racearea of HWCS 2020 Round 1 - 470 Women R6 (470 Women) 2
determining racearea of HWCS 2020 Round 1 - 470 Women R7 (470 Women) 2
determining racearea of WCS 2019 Enoshima - Laser M Medal (Laser) 1
determining racearea of WCS 2019 Enoshima - Laser R1 2
determining racearea of WCS 2019 Enoshima - Laser R2 2
determining racearea of WCS 2019 Enoshima - Laser R3 2
determining racearea of WCS 2019 Enoshima - Laser R4 2
determining racearea of WCS 2019 Enoshima - Laser R5 1
determining racearea of WCS 2019 Enoshima - Laser R6 6
determining racearea of WCS 2019 Enoshima - Laser R7 2
determining racearea of WCS 2019 Enoshima - Laser R8 2
determining racearea of WCS 2019 Enoshima - Laser R9 2
determining racearea of WCS 2019 Enoshima - RS:X Men M Medal (RS:X Men) 1
determining racearea of WCS 2019 Enoshima - RS:X Men R1 1
determining racearea of WCS 2019 Enoshima - RS:X Men R2 1
determining racearea of WCS 2019 Enoshima - RS:X Men R3 1
determining racearea of WCS 2019 Enoshima - RS:X Men R4 3
determining racearea of WCS 2019 Enoshima - RS:X Men R5 3
determining racearea of WCS 2019 Enoshima - RS:X Men R6 3
determining racearea of WCS 2019 Enoshima - RS:X Men R7 3
determining racearea of WCS 2019 Enoshima - RS:X Men R8 3
determining racearea of WCS 2019 Enoshima - 49er M Medal (49er) 1
determining racearea of WCS 2019 Enoshima - 49er R1 3
determining racearea of WCS 2019 Enoshima - 49er R2 3
determining racearea of WCS 2019 Enoshima - 49er R3 3
determining racearea of WCS 2019 Enoshima - 49er R4 1
determining racearea of WCS 2019 Enoshima - 49er R5 1
determining racearea of WCS 2019 Enoshima - 49er R6 1
determining racearea of WCS 2019 Enoshima - 49er R7 2
determining racearea of WCS 2019 Enoshima - 49er R8 2
determining racearea of WCS 2019 Enoshima - 49er R9 2
determining racearea of WCS 2019 Enoshima - Nacra 17 M Medal (Nacra 17) 1
determining racearea of WCS 2019 Enoshima - Nacra 17 R1 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R2 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R3 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R4 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R5 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R6 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R7 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R8 5
determining racearea of WCS 2019 Enoshima - Nacra 17 R9 5
determining racearea of WCS 2019 Enoshima - RS:X Women M Medal (RS:X Women) 1
determining racearea of WCS 2019 Enoshima - RS:X Women R1 1
determining racearea of WCS 2019 Enoshima - RS:X Women R2 1
determining racearea of WCS 2019 Enoshima - RS:X Women R3 1
determining racearea of WCS 2019 Enoshima - RS:X Women R4 3
determining racearea of WCS 2019 Enoshima - RS:X Women R5 3
determining racearea of WCS 2019 Enoshima - RS:X Women R6 3
determining racearea of WCS 2019 Enoshima - RS:X Women R7 3
determining racearea of WCS 2019 Enoshima - RS:X Women R8 3
determining racearea of WCS 2019 Enoshima - 49erFX M Medal (49erFX) 1
determining racearea of WCS 2019 Enoshima - 49erFX R1 3
determining racearea of WCS 2019 Enoshima - 49erFX R2 3
determining racearea of WCS 2019 Enoshima - 49erFX R3 3
determining racearea of WCS 2019 Enoshima - 49erFX R4 1
determining racearea of WCS 2019 Enoshima - 49erFX R5 1
determining racearea of WCS 2019 Enoshima - 49erFX R6 1
determining racearea of WCS 2019 Enoshima - 49erFX R7 2
determining racearea of WCS 2019 Enoshima - Laser Radial M Medal (Laser Radial) 1
determining racearea of WCS 2019 Enoshima - Laser Radial R1 2
determining racearea of WCS 2019 Enoshima - Laser Radial R2 2
determining racearea of WCS 2019 Enoshima - Laser Radial R3 2
determining racearea of WCS 2019 Enoshima - Laser Radial R4 2
determining racearea of WCS 2019 Enoshima - Laser Radial R5 2
determining racearea of WCS 2019 Enoshima - Laser Radial R6 2
determining racearea of WCS 2019 Enoshima - Laser Radial R7 2
determining racearea of WCS 2019 Enoshima - Finn R1 4
determining racearea of WCS 2019 Enoshima - Finn R2 4
determining racearea of WCS 2019 Enoshima - Finn R3 2
determining racearea of WCS 2019 Enoshima - Finn R4 2
determining racearea of WCS 2019 Enoshima - Finn R5 4
determining racearea of WCS 2019 Enoshima - Finn R6 4
determining racearea of WCS 2019 Enoshima - Finn R7 3
determining racearea of WCS 2019 Enoshima - Finn R8 3
determining racearea of WCS 2019 Enoshima - Finn R9 3
determining racearea of WCS 2019 Enoshima - 470 Women R1 6
determining racearea of WCS 2019 Enoshima - 470 Women R2 6
determining racearea of WCS 2019 Enoshima - 470 Women R3 6
determining racearea of WCS 2019 Enoshima - 470 Women R4 6
determining racearea of WCS 2019 Enoshima - 470 Women R5 6
determining racearea of WCS 2019 Enoshima - 470 Women R6 6
determining racearea of WCS 2019 Enoshima - 470 Women R7 5
determining racearea of WCS 2019 Enoshima - 470 Women R8 5
determining racearea of WCS 2019 Enoshima - 470 Men R1 6
determining racearea of WCS 2019 Enoshima - 470 Men R2 6
determining racearea of WCS 2019 Enoshima - 470 Men R3 6
determining racearea of WCS 2019 Enoshima - 470 Men R4 6
determining racearea of WCS 2019 Enoshima - 470 Men R5 6
determining racearea of WCS 2019 Enoshima - 470 Men R6 6
determining racearea of WCS 2019 Enoshima - 470 Men R7 5
determining racearea of WCS 2019 Enoshima - 470 Men R8 5

## Number of competitors per race and their relative rank

In [ ]:
cursor.execute("""
                UPDATE
                    races
                SET
                    races.nr_competitors = temp_table.nr_competitors
                FROM
                    (SELECT race_comp.regatta, race_comp.race, count(rank) as nr_competitors
                                              FROM race_comp 
                                              GROUP by regatta, race) AS temp_table
                    INNER JOIN races on temp_table.regatta = races.regatta
                            and temp_table.race = races.race
            """)
cursor.commit()

In [ ]:
cursor.execute("""
                UPDATE
                    comp_leg
                SET
                    comp_leg.rel_rank = temp_table.rel_rank
                FROM
                    (SELECT comp_leg.regatta, comp_leg.race, comp_leg.comp_id
                           ,comp_leg.competitor_rank
                           , comp_leg.competitor_rank/convert(decimal(4,2), races.nr_competitors) as rel_rank
                        FROM comp_leg INNER JOIN races
                            ON comp_leg.regatta = races.regatta 
                            and comp_leg.race = races.race
                        )
                        AS temp_table INNER JOIN comp_leg
                            ON comp_leg.regatta = temp_table.regatta 
                                 and comp_leg.race = temp_table.race
                                 and comp_leg.comp_id = temp_table.comp_id

                """)
cursor.commit()

## Calculate Correlations

In [39]:
## not yet right for other legs then 1, because avg side needs to be calculated first
for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta

        sql = """
        SELECT * from legs
        where leg_nr = 1
            and regatta = '{}'
            """.format(regName)
        
        legs = pd.read_sql(sql, engine)

        for index, row in legs.iterrows():
            print(row['regatta'], row['race'], row['leg_nr'])

            sql = """
            SELECT * from comp_leg
            WHERE regatta = '{}'
            and race = '{}'
            and leg_nr = {}
            """.format( row['regatta'],
                        row['race'],
                        row['leg_nr'])

            df = pd.read_sql(sql, engine)
            corrs = df.corr().rel_rank
            corrs = corrs.replace(np.nan, "NULL", regex=True)  ### replace NaN's by NULL so they can be updated in the sql df
            try:
                cursor.execute("""
                UPDATE legs
                SET    legs.correlation_tacks = {}
                      ,legs.correlation_side = {}
                      ,legs.correlation_avgSOG = {}
                      ,legs.correlation_traveledDistance = {}
                      ,legs.correlation_jibes = {}
                WHERE
                regatta = '{}'
                and race = '{}'
                and leg_nr = '{}'
                  """.format(corrs['competitor_tacks'],
                             corrs['avg_side'],
                             corrs['competitor_averageSOG-kts'],
                             corrs['competitor_distanceTraveled-m'],
                             corrs['competitor_jibes'],                 
                             row['regatta'],
                             row['race'],
                             row['leg_nr']))
            except KeyError:
                print('Key error for correlations')
            cursor.commit()

HWCS 2020 Round 1 - Laser M Medal (Laser Standard) 1
Key error for correlations
HWCS 2020 Round 1 - Laser R08 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R09 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R1 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R10 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R2 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R3 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R4 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R5 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R6 (Laser Standard) 1
HWCS 2020 Round 1 - Laser R7 (Laser Standard) 1
HWCS 2020 Round 1 - Laser Radial M Medal (Laser Radial) 1
Key error for correlations
HWCS 2020 Round 1 - Laser Radial R08 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R09 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R1 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R10 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R2 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R3 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R4 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R5 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R6 (Laser Radial) 1
HWCS 2020 Round 1 - Laser Radial R7 (Laser Radial) 1
HWCS 2020 Round 1 - 49erFX M Medal (49FX) 1
HWCS 2020 Round 1 - 49erFX R1(49FX) 1
HWCS 2020 Round 1 - 49erFX R2(49FX) 1
HWCS 2020 Round 1 - 49erFX R3 (49FX) 1
HWCS 2020 Round 1 - 49erFX R4 (49FX) 1
HWCS 2020 Round 1 - 49erFX R5 (49FX) 1
HWCS 2020 Round 1 - Nacra 17 M Medal (Nacra 17) 1
HWCS 2020 Round 1 - Nacra 17 R1 (Nacra 17) 1
HWCS 2020 Round 1 - Nacra 17 R2 (Nacra 17) 1
HWCS 2020 Round 1 - Nacra 17 R3 (Nacra 17) 1
HWCS 2020 Round 1 - Nacra 17 R4 (Nacra 17) 1
HWCS 2020 Round 1 - Nacra 17 R5 (Nacra 17) 1
HWCS 2020 Round 1 - 470 Men M Medal (470 Men) 1
HWCS 2020 Round 1 - 470 Men R08 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R09 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R1 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R10 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R2 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R3 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R4 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R5 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R6 (470 Men) 1
HWCS 2020 Round 1 - 470 Men R7 (470 Men) 1
HWCS 2020 Round 1 - RS:X Men M Medal (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R1 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R10 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R11 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R12 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R2 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R3 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R4 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R5 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R6 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R7 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R8 (RSX Men) 1
HWCS 2020 Round 1 - RS:X Men R9 (RSX Men) 1
HWCS 2020 Round 1 - Finn M Medal (FINN) 1
Key error for correlations
HWCS 2020 Round 1 - Finn R08 (FINN) 1
HWCS 2020 Round 1 - Finn R09 (FINN) 1
HWCS 2020 Round 1 - Finn R1 (FINN) 1
HWCS 2020 Round 1 - Finn R10 (FINN) 1
HWCS 2020 Round 1 - Finn R2 (FINN) 1
HWCS 2020 Round 1 - Finn R3 (FINN) 1
HWCS 2020 Round 1 - Finn R4 (FINN) 1
HWCS 2020 Round 1 - Finn R5 (FINN) 1
HWCS 2020 Round 1 - Finn R6 (FINN) 1
HWCS 2020 Round 1 - Finn R7 (FINN) 1
HWCS 2020 Round 1 - RS:X Women M Medal (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R1 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R10 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R2 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R3 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R4 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R5 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R6 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R7 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R8 (RSX Women) 1
HWCS 2020 Round 1 - RS:X Women R9 (RSX Women) 1
HWCS 2020 Round 1 - 49er M Medal (49ER) 1
HWCS 2020 Round 1 - 49er R1 (49ER) 1
HWCS 2020 Round 1 - 49er R2 (49ER) 1
HWCS 2020 Round 1 - 49er R3 (49ER) 1
HWCS 2020 Round 1 - 49er R4 (49ER) 1
HWCS 2020 Round 1 - 49er R5  (49ER) 1
HWCS 2020 Round 1 - 49er R6 (49ER) 1
HWCS 2020 Round 1 - 49er R7 (49ER) 1
HWCS 2020 Round 1 - 470 Women M Medal (470 Women) 1
HWCS 2020 Round 1 - 470 Women R08 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R09 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R1 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R10 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R2 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R3 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R4 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R5 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R6 (470 Women) 1
HWCS 2020 Round 1 - 470 Women R7 (470 Women) 1
WCS 2019 Enoshima - Laser M Medal (Laser) 1
WCS 2019 Enoshima - Laser R1 1
WCS 2019 Enoshima - Laser R2 1
WCS 2019 Enoshima - Laser R3 1
WCS 2019 Enoshima - Laser R4 1
WCS 2019 Enoshima - Laser R5 1
WCS 2019 Enoshima - Laser R6 1
WCS 2019 Enoshima - Laser R7 1
WCS 2019 Enoshima - Laser R8 1
WCS 2019 Enoshima - Laser R9 1
WCS 2019 Enoshima - RS:X Men M Medal (RS:X Men) 1
WCS 2019 Enoshima - RS:X Men R1 1
WCS 2019 Enoshima - RS:X Men R2 1
WCS 2019 Enoshima - RS:X Men R3 1
WCS 2019 Enoshima - RS:X Men R4 1
WCS 2019 Enoshima - RS:X Men R5 1
WCS 2019 Enoshima - RS:X Men R6 1
WCS 2019 Enoshima - RS:X Men R7 1
WCS 2019 Enoshima - RS:X Men R8 1
WCS 2019 Enoshima - 49er M Medal (49er) 1
WCS 2019 Enoshima - 49er R1 1
WCS 2019 Enoshima - 49er R2 1
WCS 2019 Enoshima - 49er R3 1
WCS 2019 Enoshima - 49er R4 1
WCS 2019 Enoshima - 49er R5 1
WCS 2019 Enoshima - 49er R6 1
WCS 2019 Enoshima - 49er R7 1
WCS 2019 Enoshima - 49er R8 1
WCS 2019 Enoshima - 49er R9 1
WCS 2019 Enoshima - Nacra 17 M Medal (Nacra 17) 1
WCS 2019 Enoshima - Nacra 17 R1 1
WCS 2019 Enoshima - Nacra 17 R2 1
WCS 2019 Enoshima - Nacra 17 R3 1
WCS 2019 Enoshima - Nacra 17 R4 1
WCS 2019 Enoshima - Nacra 17 R5 1
WCS 2019 Enoshima - Nacra 17 R6 1
WCS 2019 Enoshima - Nacra 17 R7 1
WCS 2019 Enoshima - Nacra 17 R8 1
WCS 2019 Enoshima - Nacra 17 R9 1
WCS 2019 Enoshima - RS:X Women M Medal (RS:X Women) 1
WCS 2019 Enoshima - RS:X Women R1 1
WCS 2019 Enoshima - RS:X Women R2 1
WCS 2019 Enoshima - RS:X Women R3 1
WCS 2019 Enoshima - RS:X Women R4 1
WCS 2019 Enoshima - RS:X Women R5 1
WCS 2019 Enoshima - RS:X Women R6 1
WCS 2019 Enoshima - RS:X Women R7 1
WCS 2019 Enoshima - RS:X Women R8 1
WCS 2019 Enoshima - 49erFX M Medal (49erFX) 1
WCS 2019 Enoshima - 49erFX R1 1
WCS 2019 Enoshima - 49erFX R2 1
WCS 2019 Enoshima - 49erFX R3 1
WCS 2019 Enoshima - 49erFX R4 1
WCS 2019 Enoshima - 49erFX R5 1
WCS 2019 Enoshima - 49erFX R6 1
WCS 2019 Enoshima - 49erFX R7 1
WCS 2019 Enoshima - Laser Radial M Medal (Laser Radial) 1
WCS 2019 Enoshima - Laser Radial R1 1
WCS 2019 Enoshima - Laser Radial R2 1
WCS 2019 Enoshima - Laser Radial R3 1
WCS 2019 Enoshima - Laser Radial R4 1
WCS 2019 Enoshima - Laser Radial R5 1
WCS 2019 Enoshima - Laser Radial R6 1
WCS 2019 Enoshima - Laser Radial R7 1
WCS 2019 Enoshima - Finn R1 1
WCS 2019 Enoshima - Finn R2 1
WCS 2019 Enoshima - Finn R3 1
WCS 2019 Enoshima - Finn R4 1
WCS 2019 Enoshima - Finn R5 1
WCS 2019 Enoshima - Finn R6 1
WCS 2019 Enoshima - Finn R7 1
WCS 2019 Enoshima - Finn R8 1
WCS 2019 Enoshima - Finn R9 1
WCS 2019 Enoshima - 470 Women R1 1
WCS 2019 Enoshima - 470 Women R2 1
WCS 2019 Enoshima - 470 Women R3 1
WCS 2019 Enoshima - 470 Women R4 1
WCS 2019 Enoshima - 470 Women R5 1
WCS 2019 Enoshima - 470 Women R6 1
WCS 2019 Enoshima - 470 Women R7 1
WCS 2019 Enoshima - 470 Women R8 1
WCS 2019 Enoshima - 470 Men R1 1
WCS 2019 Enoshima - 470 Men R2 1
WCS 2019 Enoshima - 470 Men R3 1
WCS 2019 Enoshima - 470 Men R4 1
WCS 2019 Enoshima - 470 Men R5 1
WCS 2019 Enoshima - 470 Men R6 1
WCS 2019 Enoshima - 470 Men R7 1
WCS 2019 Enoshima - 470 Men R8 1

In [5]:
## Plot table positions
alreadydone = ['HWCS 2020 Round 1 - Laser',
               'HWCS 2020 Round 1 - Laser Radial',
               'HWCS 2020 Round 1 - 49erFX',
               'HWCS 2020 Round 1 - Nacra 17',
               'HWCS 2020 Round 1 - 470 Men',
               'HWCS 2020 Round 1 - RS:X Men',
               'HWCS 2020 Round 1 - Finn',
               'HWCS 2020 Round 1 - RS:X Women',
               'HWCS 2020 Round 1 - 49er',
               'HWCS 2020 Round 1 - 470 Women',
               'WCS 2019 Enoshima - Laser',
               'WCS 2019 Enoshima - RS:X Men']

for serv in eventSelection:
    for indx, regatta in serv['regattas'].iterrows():
        regName = regatta.regatta
        if regName in alreadydone:
            print('{} already done'.format(regName))
            continue
        sql = """
                INSERT INTO positions_plot
                SELECT * FROM positions
                WHERE positions.regatta = '{}'
                AND positions.timepoint_ms % 20000 = 0
                """.format(regName)
        cursor.execute(sql)
        cursor.commit()
        print(regName, ' done ')

HWCS 2020 Round 1 - Laser already done
HWCS 2020 Round 1 - Laser Radial already done
HWCS 2020 Round 1 - 49erFX already done
HWCS 2020 Round 1 - Nacra 17 already done
HWCS 2020 Round 1 - 470 Men already done
HWCS 2020 Round 1 - RS:X Men already done
HWCS 2020 Round 1 - Finn already done
HWCS 2020 Round 1 - RS:X Women already done
HWCS 2020 Round 1 - 49er already done
HWCS 2020 Round 1 - 470 Women already done
WCS 2019 Enoshima - Laser already done
WCS 2019 Enoshima - RS:X Men already done
WCS 2019 Enoshima - 49er  done
WCS 2019 Enoshima - Nacra 17  done
WCS 2019 Enoshima - RS:X Women  done
WCS 2019 Enoshima - 49erFX  done
WCS 2019 Enoshima - Laser Radial  done
WCS 2019 Enoshima - Finn  done
WCS 2019 Enoshima - 470 Women  done
WCS 2019 Enoshima - 470 Men  done

In [ ]:
CREATE VIEW positions_view
WITH SCHEMABINDING
AS 
SELECT
    r.regatta,
    rc.race,
    l.leg_nr,
    c.comp_id,
    timepoint_ms,
    [lat-deg],
	[lng-deg]
	,[speed-kts]
	,[truebearing-deg]
FROM
    dbo.positions p
INNER JOIN dbo.competitors c
    ON c.comp_id = p.comp_id
	 and c.regatta = p.regatta
INNER JOIN dbo.legs l
	ON l.regatta = p.regatta
	 and l.race = p.race
	 and l.leg_nr = p.leg_nr
INNER JOIN dbo.races rc 
    ON rc.regatta = p.regatta
	 and rc.race = p.race
INNER JOIN dbo.regattas r
	ON r.regatta = p.regatta
WHERE l.leg_nr = 1
 and p.timepoint_ms % 20000 = 0
	 ;

### Usefull other queries

In [ ]:
cursor.execute("""

USE nerinedatabase;
EXEC sp_spaceused;
""")

In [ ]:
cursor.execute("""
DROP INDEX idx ON positions;
CREATE UNIQUE CLUSTERED INDEX idx ON positions (regatta, race, comp_id, timepoint_ms ASC);

""")

In [ ]:
# info over indeces
EXEC sp_helpindex '[[[SCHEMA-NAME.TABLE-NAME]]]'
GO

## snelle manier om aantal rijen in tabel te krijgen
DECLARE @TableName sysname
SET @TableName = 'positions'
 
SELECT OBJECT_NAME(object_id), SUM(row_count) AS rows
FROM sys.dm_db_partition_stats
WHERE object_id = OBJECT_ID(@TableName)
AND index_id < 2
GROUP BY OBJECT_NAME(object_id);